In [1]:
import pandas as pd
import numpy as np

In [2]:
notes=pd.read_csv("NOTEEVENTS.csv")
notes.head()

/Users/xiedong/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...

In [3]:
notes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2083180 entries, 0 to 2083179
Data columns (total 11 columns):
ROW_ID         int64
SUBJECT_ID     int64
HADM_ID        float64
CHARTDATE      object
CHARTTIME      object
STORETIME      object
CATEGORY       object
DESCRIPTION    object
CGID           float64
ISERROR        float64
TEXT           object
dtypes: float64(3), int64(2), object(6)
memory usage: 174.8+ MB

In [4]:
notes['HADM_ID'].unique().shape

(58362,)

In [5]:
notes["DESCRIPTION"].unique()

array(['Report', 'Addendum', 'Nursing Transfer Note', ...,
       'PLACE CATH CAROTID/INOM ART',
       'L US MSK ASPIRATE/INJ GANGLION CYST LEFT',
       'RO HIP NAILING IN OR W/FILMS & FLUORO RIGHT IN O.R.'], dtype=object)

In [6]:
patients=pd.read_csv("PATIENTS.csv")
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46520 entries, 0 to 46519
Data columns (total 8 columns):
ROW_ID         46520 non-null int64
SUBJECT_ID     46520 non-null int64
GENDER         46520 non-null object
DOB            46520 non-null object
DOD            15759 non-null object
DOD_HOSP       9974 non-null object
DOD_SSN        13378 non-null object
EXPIRE_FLAG    46520 non-null int64
dtypes: int64(3), object(5)
memory usage: 2.8+ MB

In [7]:
dead_p=patients[patients['EXPIRE_FLAG']==1]
dead_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15759 entries, 1 to 46517
Data columns (total 8 columns):
ROW_ID         15759 non-null int64
SUBJECT_ID     15759 non-null int64
GENDER         15759 non-null object
DOB            15759 non-null object
DOD            15759 non-null object
DOD_HOSP       9974 non-null object
DOD_SSN        13378 non-null object
EXPIRE_FLAG    15759 non-null int64
dtypes: int64(3), object(5)
memory usage: 1.1+ MB

In [8]:
dead_p.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
1,235,250,F,2164-12-27 00:00:00,2188-11-22 00:00:00,2188-11-22 00:00:00,NaN,1
7,241,257,F,2031-04-03 00:00:00,2121-07-08 00:00:00,2121-07-08 00:00:00,2121-07-08 00:00:00,1
10,244,261,M,2025-08-04 00:00:00,2102-06-29 00:00:00,2102-06-29 00:00:00,2102-06-29 00:00:00,1
12,246,263,M,2104-06-18 00:00:00,2168-06-13 00:00:00,2168-06-13 00:00:00,NaN,1
17,251,268,F,2132-02-21 00:00:00,2198-02-18 00:00:00,2198-02-18 00:00:00,NaN,1

In [9]:
alive_p=patients[patients['EXPIRE_FLAG']==0]

In [10]:
alive_p.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30761 entries, 0 to 46519
Data columns (total 8 columns):
ROW_ID         30761 non-null int64
SUBJECT_ID     30761 non-null int64
GENDER         30761 non-null object
DOB            30761 non-null object
DOD            0 non-null object
DOD_HOSP       0 non-null object
DOD_SSN        0 non-null object
EXPIRE_FLAG    30761 non-null int64
dtypes: int64(3), object(5)
memory usage: 2.1+ MB

In [11]:
alive_p.head()

,ROW_ID,SUBJECT_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,234,249,F,2075-03-13 00:00:00,NaN,NaN,NaN,0
2,236,251,M,2090-03-15 00:00:00,NaN,NaN,NaN,0
3,237,252,M,2078-03-06 00:00:00,NaN,NaN,NaN,0
4,238,253,F,2089-11-26 00:00:00,NaN,NaN,NaN,0
5,239,255,M,2109-08-05 00:00:00,NaN,NaN,NaN,0

In [12]:
notes2=notes.merge(patients, on='SUBJECT_ID', how='left')
notes2

,ROW_ID_x,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID_y,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,21265,F,2064-08-20 00:00:00,NaN,NaN,NaN,0
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,25364,M,2080-01-04 00:00:00,2162-04-04 00:00:00,NaN,2162-04-04 00:00:00,1
5,179,53181,170490.0,2172-03-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-3-5**] D...,34268,F,2109-10-08 00:00:00,NaN,NaN,NaN,0
6,180,20646,134727.0,2112-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-12-8**] ...,19484,F,2030-05-27 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,1
7,181,42130,114236.0,2150-03-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2150-2-25**] ...,31347,M,2086-12-19 00:00:00,NaN,NaN,NaN,0
8,182,56174,163469.0,2118-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-8-10**] ...,35073,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
9,183,56174,189681.0,2118-12-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-12-7**] ...,35073,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
10,184,28063,121936.0,2125-02-16,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2125-2-9**] D...,26453,M,2040-11-14 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,1
11,185,1136,139574.0,2192-05-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2192-4-19**] ...,1078,F,2107-11-14 00:00:00,NaN,NaN,NaN,0
12,223,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...,5069,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
13,224,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...,5069,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
14,225,11369,121504.0,2199-02-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-2-8**] Discharge ...,10748,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
15,226,11369,103786.0,2203-11-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2203-11-3**] ...,10748,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
16,227,10044,124073.0,2152-10-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2152-10-2**] Dischar...,9503,F,2071-02-11 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,1
17,228,79900,120644.0,2194-07-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-7-18**] ...,41260,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
18,229,79900,128319.0,2195-04-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-4-14**] ...,41260,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
19,230,9805,188132.0,2130-02-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2130-2-3**] D...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
20,231,9805,177212.0,2131-07-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-6-28**] ...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
21,232,9805,177212.0,2131-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-7-5**] D...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
22,233,99091,185274.0,2190-02-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2190-2-11**] ...,46284,F,2132-12-15 00:00:00,NaN,NaN,NaN,0
23,234,70108,186093.0,2105-04-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2105-4-16**] ...,38779,F,2044-03-08 00:00:00,NaN,NaN,NaN,0
24,235,19631,185175.0,2198-05-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2198-4-23**] ...,18531,M,2122-10-14 00:00:00,NaN,NaN,NaN,0
25,236,26601,116471.0,2127-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2127-7-21**] ...,25106,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
26,237,26601,155131.0,2131-12-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-12-23**] ...,25106,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
27,238,5136,151912.0,2189-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2189-12-1**] Dischar...,4870,M,2123-02-13 00:00:00,2191-06-07 00:00:00,2191-06-07 00:00:00,2191-05-16 00:00:00,1
28,239,24424,146533.0,2188-05-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2188-5-9**] D...,23046,M,2121-07-18 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,1
29,240,27051,113012.0,2194-02-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,25521,F,1894-01-07 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083150,2075608,31668,134163.0,2122-07-22,2122-07-22 15:11:00,2122-07-22 15:37:00,Nursing/other,Report,18433.0,NaN,"1. continues on 200cc 100% nasal cannula O2, R...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083151,2075609,31668,134163.0,2122-07-22,2122-07-22 15:34:00,2122-07-22 15:37:00,Nursing/other,Report,18706.0,NaN,Neonatology NNP note\nPE:\n\nNEURO: infant swa...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083152,2075610,31668,134163.0,2122-07-23,2122-07-23 04:17:00,2122-07-23 04:27:00,Nursing/other,Report,20262.0,NaN,NPN\n\n\n#1 Resp-Remains in NC 100% 100-200cc....,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083153,2075611,31668,134163.0,2122-07-23,2122-07-23 09:59:00,2122-07-23 10:02:00,Nursing/other,Report,15444.0,NaN,"Neo \rAtttneDAY 32 WK PMA\nDay 36, now 32 wk R...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083154,2075706,31668,134163.0,2122-08-09,2122-08-09 02:10:00,2122-08-09 02:34:00,Nursing/other,Report,17217.0,NaN,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on Prong...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083155,2076884,31739,123012.0,2195-08-13,2195-08-13 03:17:00,2195-08-13 03:30:00,Nursing/other,Report,17575.0,NaN,PCA 7pm-7am\n\n\n#1 FEN: TF's remain as [** 14...,29803,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083156,2076885,31739,123012.0,2195-08-13,2195-08-13 13:32:00,2195-08-13 13:35:00,Nursing/other,Report,17335.0,NaN,Neonatology Attending\nDOL 11 / PMA 41-2/7 wee...,29803,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083157,2076960,31741,178895.0,2105-07-31,2105-07-31 15:11:00,2105-07-31 15:17:00,Nursing/other,Report,16191.0,NaN,"Fellow Progress Note\nDol 14, cga 36.6\nNo ove...",29805,F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083158,2076961,31741,178895.0,2105-07-31,2105-07-31 15:11:00,2105-07-31 17:52:00,Nursing/other,Report,14943.0,NaN,Fellow Progress Note\nNeonatology Attending\n\...,29805,F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083159,2078112,31893,102752.0,2126-12-05,2126-12-05 21:46:00,2126-12-05 21:59:00,Nursing/other,Report,20966.0,NaN,NPN\nplease see above note for delivery histor...,29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083160,2078113,31893,102752.0,2126-12-06,2126-12-06 05:16:00,2126-12-06 05:28:00,Nursing/other,Report,15226.0,NaN,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083161,2078114,31893,102752.0,2126-12-06,2126-12-06 10:01:00,2126-12-06 10:07:00,Nursing/other,Report,20835.0,NaN,"NNP PE\n\nResp: Comfortable effort, BS clear a...",29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083162,2079742,32242,163974.0,2121-11-14,2121-11-14 08:03:00,2121-11-14 08:08:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL#5, CGA 26 1/7 weeks.\n\nCVR: ...",30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083163,2079743,32242,163974.0,2121-11-14,2121-11-14 14:47:00,2121-11-14 18:51:00,Nursing/other,Report,14957.0,NaN,Nursing Progress Note\nPlan for baby gram with...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083164,2079744,32242,163974.0,2121-11-14,2121-11-14 14:47:00,2121-11-14 15:10:00,Nursing/other,Report,14957.0,NaN,Nursing Progress Note\n\n\nFluids: TF 150cc/k...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083165,2079745,32242,163974.0,2121-11-14,2121-11-14 15:31:00,2121-11-14 15:32:00,Nursing/other,Report,19412.0,NaN,Respiratory Care\nPt cont on prong CPAP. Weane...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083166,2079746,32242,163974.0,2121-11-14,2121-11-14 20:21:00,2121-11-14 20:28:00,Nursing/other,Report,18706.0,NaN,Neonatology NNP note\nProcedure note: PICC lin...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083167,2075879,31668,134163.0,2122-09-10,2122-09-10 13:25:00,2122-09-10 13:41:00,Nursing/other,Report,21232.0,NaN,NPN 7A-7P\n\n\n#2 After discussion with team a...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083168,2075880,31668,134163.0,2122-09-11,2122-09-11 00:13:00,2122-09-11 00:18:00,Nursing/other,Report,15938.0,NaN,"[** 63**] PHysical Exam\nPE: pink, AFOF, nasal...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083169,2075881,31668,134163.0,2122-09-11,2122-09-11 03:33:00,2122-09-11 03:42:00,Nursing/other,Report,15484.0,NaN,NPN\n\n\n#2F/N O-Infant remains on demand feed...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083170,2075882,31668,134163.0,2122-09-11,2122-09-11 12:47:00,2122-09-11 12:49:00,Nursing/other,Report,20836.0,NaN,SOCIAL WORK\nContinuing to follow this family ...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083171,2075883,31668,134163.0,2122-09-11,2122-09-11 12:47:00,2122-09-11 12:51:00,Nursing/other,Report,21222.0,NaN,Attending Note\nDay of life 76 PMA 39 [**12-7*...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083172,2077115,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,29829,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083173,2077116,31767,105243.0,2141-01-05,2141-01-05 16:28:00,2141-01-05 16:54:00,Nursing/other,Report,20634.0,NaN,Admission Note\n\n\nBaby boy [**Known lastname...,29829,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083174,2070656,31097,115637.0,2132-01-20,2132-01-20 14:00:00,2132-01-20 14:13:00,Nursing/other,Report,20634.0,NaN,0700-[**2054**] NPN\n\n\nRESP: Infant is in RA...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0

In [13]:
notes2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2083180 entries, 0 to 2083179
Data columns (total 18 columns):
ROW_ID_x       int64
SUBJECT_ID     int64
HADM_ID        float64
CHARTDATE      object
CHARTTIME      object
STORETIME      object
CATEGORY       object
DESCRIPTION    object
CGID           float64
ISERROR        float64
TEXT           object
ROW_ID_y       int64
GENDER         object
DOB            object
DOD            object
DOD_HOSP       object
DOD_SSN        object
EXPIRE_FLAG    int64
dtypes: float64(3), int64(4), object(11)
memory usage: 302.0+ MB

In [14]:
notes2.drop(['ROW_ID_x'], axis = 1, inplace = True)
notes2

,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,ROW_ID_y,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,21265,F,2064-08-20 00:00:00,NaN,NaN,NaN,0
1,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
2,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
3,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,12959,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
4,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,25364,M,2080-01-04 00:00:00,2162-04-04 00:00:00,NaN,2162-04-04 00:00:00,1
5,53181,170490.0,2172-03-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2172-3-5**] D...,34268,F,2109-10-08 00:00:00,NaN,NaN,NaN,0
6,20646,134727.0,2112-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2112-12-8**] ...,19484,F,2030-05-27 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,1
7,42130,114236.0,2150-03-01,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2150-2-25**] ...,31347,M,2086-12-19 00:00:00,NaN,NaN,NaN,0
8,56174,163469.0,2118-08-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-8-10**] ...,35073,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
9,56174,189681.0,2118-12-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-12-7**] ...,35073,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
10,28063,121936.0,2125-02-16,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2125-2-9**] D...,26453,M,2040-11-14 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,1
11,1136,139574.0,2192-05-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2192-4-19**] ...,1078,F,2107-11-14 00:00:00,NaN,NaN,NaN,0
12,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...,5069,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
13,5350,169684.0,2143-04-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2143-4-25**] Discharge...,5069,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
14,11369,121504.0,2199-02-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2199-2-8**] Discharge ...,10748,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
15,11369,103786.0,2203-11-12,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2203-11-3**] ...,10748,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
16,10044,124073.0,2152-10-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2152-10-2**] Dischar...,9503,F,2071-02-11 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,1
17,79900,120644.0,2194-07-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-7-18**] ...,41260,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
18,79900,128319.0,2195-04-17,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2195-4-14**] ...,41260,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
19,9805,188132.0,2130-02-09,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2130-2-3**] D...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
20,9805,177212.0,2131-07-05,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-6-28**] ...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
21,9805,177212.0,2131-07-23,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-7-5**] D...,9275,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
22,99091,185274.0,2190-02-24,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2190-2-11**] ...,46284,F,2132-12-15 00:00:00,NaN,NaN,NaN,0
23,70108,186093.0,2105-04-27,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2105-4-16**] ...,38779,F,2044-03-08 00:00:00,NaN,NaN,NaN,0
24,19631,185175.0,2198-05-08,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2198-4-23**] ...,18531,M,2122-10-14 00:00:00,NaN,NaN,NaN,0
25,26601,116471.0,2127-07-30,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2127-7-21**] ...,25106,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
26,26601,155131.0,2131-12-29,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2131-12-23**] ...,25106,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
27,5136,151912.0,2189-12-10,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2189-12-1**] Dischar...,4870,M,2123-02-13 00:00:00,2191-06-07 00:00:00,2191-06-07 00:00:00,2191-05-16 00:00:00,1
28,24424,146533.0,2188-05-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2188-5-9**] D...,23046,M,2121-07-18 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,1
29,27051,113012.0,2194-02-02,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2194-1-7**] D...,25521,F,1894-01-07 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083150,31668,134163.0,2122-07-22,2122-07-22 15:11:00,2122-07-22 15:37:00,Nursing/other,Report,18433.0,NaN,"1. continues on 200cc 100% nasal cannula O2, R...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083151,31668,134163.0,2122-07-22,2122-07-22 15:34:00,2122-07-22 15:37:00,Nursing/other,Report,18706.0,NaN,Neonatology NNP note\nPE:\n\nNEURO: infant swa...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083152,31668,134163.0,2122-07-23,2122-07-23 04:17:00,2122-07-23 04:27:00,Nursing/other,Report,20262.0,NaN,NPN\n\n\n#1 Resp-Remains in NC 100% 100-200cc....,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083153,31668,134163.0,2122-07-23,2122-07-23 09:59:00,2122-07-23 10:02:00,Nursing/other,Report,15444.0,NaN,"Neo \rAtttneDAY 32 WK PMA\nDay 36, now 32 wk R...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083154,31668,134163.0,2122-08-09,2122-08-09 02:10:00,2122-08-09 02:34:00,Nursing/other,Report,17217.0,NaN,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on Prong...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083155,31739,123012.0,2195-08-13,2195-08-13 03:17:00,2195-08-13 03:30:00,Nursing/other,Report,17575.0,NaN,PCA 7pm-7am\n\n\n#1 FEN: TF's remain as [** 14...,29803,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083156,31739,123012.0,2195-08-13,2195-08-13 13:32:00,2195-08-13 13:35:00,Nursing/other,Report,17335.0,NaN,Neonatology Attending\nDOL 11 / PMA 41-2/7 wee...,29803,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083157,31741,178895.0,2105-07-31,2105-07-31 15:11:00,2105-07-31 15:17:00,Nursing/other,Report,16191.0,NaN,"Fellow Progress Note\nDol 14, cga 36.6\nNo ove...",29805,F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083158,31741,178895.0,2105-07-31,2105-07-31 15:11:00,2105-07-31 17:52:00,Nursing/other,Report,14943.0,NaN,Fellow Progress Note\nNeonatology Attending\n\...,29805,F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083159,31893,102752.0,2126-12-05,2126-12-05 21:46:00,2126-12-05 21:59:00,Nursing/other,Report,20966.0,NaN,NPN\nplease see above note for delivery histor...,29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083160,31893,102752.0,2126-12-06,2126-12-06 05:16:00,2126-12-06 05:28:00,Nursing/other,Report,15226.0,NaN,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083161,31893,102752.0,2126-12-06,2126-12-06 10:01:00,2126-12-06 10:07:00,Nursing/other,Report,20835.0,NaN,"NNP PE\n\nResp: Comfortable effort, BS clear a...",29946,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083162,32242,163974.0,2121-11-14,2121-11-14 08:03:00,2121-11-14 08:08:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL#5, CGA 26 1/7 weeks.\n\nCVR: ...",30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083163,32242,163974.0,2121-11-14,2121-11-14 14:47:00,2121-11-14 18:51:00,Nursing/other,Report,14957.0,NaN,Nursing Progress Note\nPlan for baby gram with...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083164,32242,163974.0,2121-11-14,2121-11-14 14:47:00,2121-11-14 15:10:00,Nursing/other,Report,14957.0,NaN,Nursing Progress Note\n\n\nFluids: TF 150cc/k...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083165,32242,163974.0,2121-11-14,2121-11-14 15:31:00,2121-11-14 15:32:00,Nursing/other,Report,19412.0,NaN,Respiratory Care\nPt cont on prong CPAP. Weane...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083166,32242,163974.0,2121-11-14,2121-11-14 20:21:00,2121-11-14 20:28:00,Nursing/other,Report,18706.0,NaN,Neonatology NNP note\nProcedure note: PICC lin...,30276,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083167,31668,134163.0,2122-09-10,2122-09-10 13:25:00,2122-09-10 13:41:00,Nursing/other,Report,21232.0,NaN,NPN 7A-7P\n\n\n#2 After discussion with team a...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083168,31668,134163.0,2122-09-11,2122-09-11 00:13:00,2122-09-11 00:18:00,Nursing/other,Report,15938.0,NaN,"[** 63**] PHysical Exam\nPE: pink, AFOF, nasal...",29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083169,31668,134163.0,2122-09-11,2122-09-11 03:33:00,2122-09-11 03:42:00,Nursing/other,Report,15484.0,NaN,NPN\n\n\n#2F/N O-Infant remains on demand feed...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083170,31668,134163.0,2122-09-11,2122-09-11 12:47:00,2122-09-11 12:49:00,Nursing/other,Report,20836.0,NaN,SOCIAL WORK\nContinuing to follow this family ...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083171,31668,134163.0,2122-09-11,2122-09-11 12:47:00,2122-09-11 12:51:00,Nursing/other,Report,21222.0,NaN,Attending Note\nDay of life 76 PMA 39 [**12-7*...,29737,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083172,31767,105243.0,2141-01-05,2141-01-05 14:24:00,2141-01-05 15:01:00,Nursing/other,Report,20700.0,NaN,NICU Attending Admission Note\nPt is a 34 [**6...,29829,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083173,31767,105243.0,2141-01-05,2141-01-05 16:28:00,2141-01-05 16:54:00,Nursing/other,Report,20634.0,NaN,Admission Note\n\n\nBaby boy [**Known lastname...,29829,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083174,31097,115637.0,2132-01-20,2132-01-20 14:00:00,2132-01-20 14:13:00,Nursing/other,Report,20634.0,NaN,0700-[**2054**] NPN\n\n\nRESP: Infant is in RA...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083175,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083176,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083177,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083178,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083179,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,29227,M,2132-01-16 00:00:00,NaN,NaN,NaN,0

In [15]:
notes2.drop(['ROW_ID_y'], axis = 1, inplace = True)
notes2.drop(['CHARTTIME'], axis = 1, inplace = True)
notes2.drop(['STORETIME'], axis = 1, inplace = True)
notes2.drop(['CGID'], axis = 1, inplace = True)
notes2.drop(['ISERROR'], axis = 1, inplace = True)

In [16]:
notes2

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,22532,167853.0,2151-08-04,Discharge summary,Report,Admission Date: [**2151-7-16**] Dischar...,F,2064-08-20 00:00:00,NaN,NaN,NaN,0
1,13702,107527.0,2118-06-14,Discharge summary,Report,Admission Date: [**2118-6-2**] Discharg...,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
2,13702,167118.0,2119-05-25,Discharge summary,Report,Admission Date: [**2119-5-4**] D...,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
3,13702,196489.0,2124-08-18,Discharge summary,Report,Admission Date: [**2124-7-21**] ...,F,2037-05-03 00:00:00,2126-10-06 00:00:00,NaN,2126-10-06 00:00:00,1
4,26880,135453.0,2162-03-25,Discharge summary,Report,Admission Date: [**2162-3-3**] D...,M,2080-01-04 00:00:00,2162-04-04 00:00:00,NaN,2162-04-04 00:00:00,1
5,53181,170490.0,2172-03-08,Discharge summary,Report,Admission Date: [**2172-3-5**] D...,F,2109-10-08 00:00:00,NaN,NaN,NaN,0
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,2112-12-10 00:00:00,1
7,42130,114236.0,2150-03-01,Discharge summary,Report,Admission Date: [**2150-2-25**] ...,M,2086-12-19 00:00:00,NaN,NaN,NaN,0
8,56174,163469.0,2118-08-12,Discharge summary,Report,Admission Date: [**2118-8-10**] ...,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
9,56174,189681.0,2118-12-09,Discharge summary,Report,Admission Date: [**2118-12-7**] ...,F,2073-12-25 00:00:00,NaN,NaN,NaN,0
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,2125-02-16 00:00:00,1
11,1136,139574.0,2192-05-23,Discharge summary,Report,Admission Date: [**2192-4-19**] ...,F,2107-11-14 00:00:00,NaN,NaN,NaN,0
12,5350,169684.0,2143-04-30,Discharge summary,Report,Admission Date: [**2143-4-25**] Discharge...,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
13,5350,169684.0,2143-04-30,Discharge summary,Report,Admission Date: [**2143-4-25**] Discharge...,M,2076-08-18 00:00:00,2151-05-03 00:00:00,NaN,2151-05-03 00:00:00,1
14,11369,121504.0,2199-02-14,Discharge summary,Report,Admission Date: [**2199-2-8**] Discharge ...,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
15,11369,103786.0,2203-11-12,Discharge summary,Report,Admission Date: [**2203-11-3**] ...,M,2161-11-27 00:00:00,2204-05-13 00:00:00,2204-05-13 00:00:00,NaN,1
16,10044,124073.0,2152-10-11,Discharge summary,Report,Admission Date: [**2152-10-2**] Dischar...,F,2071-02-11 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,2152-10-20 00:00:00,1
17,79900,120644.0,2194-07-25,Discharge summary,Report,Admission Date: [**2194-7-18**] ...,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
18,79900,128319.0,2195-04-17,Discharge summary,Report,Admission Date: [**2195-4-14**] ...,F,2123-12-24 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,2195-11-07 00:00:00,1
19,9805,188132.0,2130-02-09,Discharge summary,Report,Admission Date: [**2130-2-3**] D...,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
20,9805,177212.0,2131-07-05,Discharge summary,Report,Admission Date: [**2131-6-28**] ...,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
21,9805,177212.0,2131-07-23,Discharge summary,Report,Admission Date: [**2131-7-5**] D...,M,2060-12-25 00:00:00,2131-11-04 00:00:00,2131-11-04 00:00:00,NaN,1
22,99091,185274.0,2190-02-24,Discharge summary,Report,Admission Date: [**2190-2-11**] ...,F,2132-12-15 00:00:00,NaN,NaN,NaN,0
23,70108,186093.0,2105-04-27,Discharge summary,Report,Admission Date: [**2105-4-16**] ...,F,2044-03-08 00:00:00,NaN,NaN,NaN,0
24,19631,185175.0,2198-05-08,Discharge summary,Report,Admission Date: [**2198-4-23**] ...,M,2122-10-14 00:00:00,NaN,NaN,NaN,0
25,26601,116471.0,2127-07-30,Discharge summary,Report,Admission Date: [**2127-7-21**] ...,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
26,26601,155131.0,2131-12-29,Discharge summary,Report,Admission Date: [**2131-12-23**] ...,F,1827-07-21 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,2132-04-27 00:00:00,1
27,5136,151912.0,2189-12-10,Discharge summary,Report,Admission Date: [**2189-12-1**] Dischar...,M,2123-02-13 00:00:00,2191-06-07 00:00:00,2191-06-07 00:00:00,2191-05-16 00:00:00,1
28,24424,146533.0,2188-05-14,Discharge summary,Report,Admission Date: [**2188-5-9**] D...,M,2121-07-18 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,2191-07-22 00:00:00,1
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,2194-02-02 00:00:00,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2083150,31668,134163.0,2122-07-22,Nursing/other,Report,"1. continues on 200cc 100% nasal cannula O2, R...",M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083151,31668,134163.0,2122-07-22,Nursing/other,Report,Neonatology NNP note\nPE:\n\nNEURO: infant swa...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083152,31668,134163.0,2122-07-23,Nursing/other,Report,NPN\n\n\n#1 Resp-Remains in NC 100% 100-200cc....,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083153,31668,134163.0,2122-07-23,Nursing/other,Report,"Neo \rAtttneDAY 32 WK PMA\nDay 36, now 32 wk R...",M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083154,31668,134163.0,2122-08-09,Nursing/other,Report,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on Prong...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083155,31739,123012.0,2195-08-13,Nursing/other,Report,PCA 7pm-7am\n\n\n#1 FEN: TF's remain as [** 14...,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083156,31739,123012.0,2195-08-13,Nursing/other,Report,Neonatology Attending\nDOL 11 / PMA 41-2/7 wee...,M,2195-08-02 00:00:00,NaN,NaN,NaN,0
2083157,31741,178895.0,2105-07-31,Nursing/other,Report,"Fellow Progress Note\nDol 14, cga 36.6\nNo ove...",F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083158,31741,178895.0,2105-07-31,Nursing/other,Report,Fellow Progress Note\nNeonatology Attending\n\...,F,2105-07-17 00:00:00,NaN,NaN,NaN,0
2083159,31893,102752.0,2126-12-05,Nursing/other,Report,NPN\nplease see above note for delivery histor...,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083160,31893,102752.0,2126-12-06,Nursing/other,Report,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083161,31893,102752.0,2126-12-06,Nursing/other,Report,"NNP PE\n\nResp: Comfortable effort, BS clear a...",M,2126-12-05 00:00:00,NaN,NaN,NaN,0
2083162,32242,163974.0,2121-11-14,Nursing/other,Report,"Neonatology\nDOL#5, CGA 26 1/7 weeks.\n\nCVR: ...",M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083163,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\nPlan for baby gram with...,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083164,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\n\n\nFluids: TF 150cc/k...,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083165,32242,163974.0,2121-11-14,Nursing/other,Report,Respiratory Care\nPt cont on prong CPAP. Weane...,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083166,32242,163974.0,2121-11-14,Nursing/other,Report,Neonatology NNP note\nProcedure note: PICC lin...,M,2121-11-09 00:00:00,NaN,NaN,NaN,0
2083167,31668,134163.0,2122-09-10,Nursing/other,Report,NPN 7A-7P\n\n\n#2 After discussion with team a...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083168,31668,134163.0,2122-09-11,Nursing/other,Report,"[** 63**] PHysical Exam\nPE: pink, AFOF, nasal...",M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083169,31668,134163.0,2122-09-11,Nursing/other,Report,NPN\n\n\n#2F/N O-Infant remains on demand feed...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083170,31668,134163.0,2122-09-11,Nursing/other,Report,SOCIAL WORK\nContinuing to follow this family ...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083171,31668,134163.0,2122-09-11,Nursing/other,Report,Attending Note\nDay of life 76 PMA 39 [**12-7*...,M,2122-06-27 00:00:00,NaN,NaN,NaN,0
2083172,31767,105243.0,2141-01-05,Nursing/other,Report,NICU Attending Admission Note\nPt is a 34 [**6...,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083173,31767,105243.0,2141-01-05,Nursing/other,Report,Admission Note\n\n\nBaby boy [**Known lastname...,M,2141-01-05 00:00:00,NaN,NaN,NaN,0
2083174,31097,115637.0,2132-01-20,Nursing/other,Report,0700-[**2054**] NPN\n\n\nRESP: Infant is in RA...,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083175,31097,115637.0,2132-01-21,Nursing/other,Report,NPN\n\n\n#1 Infant remains in RA with O2 sats...,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083176,31097,115637.0,2132-01-21,Nursing/other,Report,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083177,31097,115637.0,2132-01-21,Nursing/other,Report,Family Meeting Note\nFamily meeting held with ...,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083178,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,M,2132-01-16 00:00:00,NaN,NaN,NaN,0
2083179,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\nNursing Addendum:\n[**Known lastname...,M,2132-01-16 00:00:00,NaN,NaN,NaN,0

In [17]:
# raw_data['Mycol'] =  pd.to_datetime(raw_data['Mycol'], format='%d%b%Y:%H:%M:%S.%f')
notes2['CHARTDATE']=pd.to_datetime(notes2['CHARTDATE'],format='%Y-%m-%d')
notes2['DOD']=pd.to_datetime(notes2['DOD'],format='%Y-%m-%d %H:%M:%S')
notes2['DOD_HOSP']=pd.to_datetime(notes2['DOD_HOSP'],format='%Y-%m-%d %H:%M:%S')
notes2['DOD_SSN']=pd.to_datetime(notes2['DOD_SSN'],format='%Y-%m-%d %H:%M:%S')

In [18]:
notes2

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,22532,167853.0,2151-08-04,Discharge summary,Report,Admission Date: [**2151-7-16**] Dischar...,F,2064-08-20 00:00:00,NaT,NaT,NaT,0
1,13702,107527.0,2118-06-14,Discharge summary,Report,Admission Date: [**2118-6-2**] Discharg...,F,2037-05-03 00:00:00,2126-10-06,NaT,2126-10-06,1
2,13702,167118.0,2119-05-25,Discharge summary,Report,Admission Date: [**2119-5-4**] D...,F,2037-05-03 00:00:00,2126-10-06,NaT,2126-10-06,1
3,13702,196489.0,2124-08-18,Discharge summary,Report,Admission Date: [**2124-7-21**] ...,F,2037-05-03 00:00:00,2126-10-06,NaT,2126-10-06,1
4,26880,135453.0,2162-03-25,Discharge summary,Report,Admission Date: [**2162-3-3**] D...,M,2080-01-04 00:00:00,2162-04-04,NaT,2162-04-04,1
5,53181,170490.0,2172-03-08,Discharge summary,Report,Admission Date: [**2172-3-5**] D...,F,2109-10-08 00:00:00,NaT,NaT,NaT,0
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27 00:00:00,2112-12-10,2112-12-10,2112-12-10,1
7,42130,114236.0,2150-03-01,Discharge summary,Report,Admission Date: [**2150-2-25**] ...,M,2086-12-19 00:00:00,NaT,NaT,NaT,0
8,56174,163469.0,2118-08-12,Discharge summary,Report,Admission Date: [**2118-8-10**] ...,F,2073-12-25 00:00:00,NaT,NaT,NaT,0
9,56174,189681.0,2118-12-09,Discharge summary,Report,Admission Date: [**2118-12-7**] ...,F,2073-12-25 00:00:00,NaT,NaT,NaT,0
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14 00:00:00,2125-02-16,2125-02-16,2125-02-16,1
11,1136,139574.0,2192-05-23,Discharge summary,Report,Admission Date: [**2192-4-19**] ...,F,2107-11-14 00:00:00,NaT,NaT,NaT,0
12,5350,169684.0,2143-04-30,Discharge summary,Report,Admission Date: [**2143-4-25**] Discharge...,M,2076-08-18 00:00:00,2151-05-03,NaT,2151-05-03,1
13,5350,169684.0,2143-04-30,Discharge summary,Report,Admission Date: [**2143-4-25**] Discharge...,M,2076-08-18 00:00:00,2151-05-03,NaT,2151-05-03,1
14,11369,121504.0,2199-02-14,Discharge summary,Report,Admission Date: [**2199-2-8**] Discharge ...,M,2161-11-27 00:00:00,2204-05-13,2204-05-13,NaT,1
15,11369,103786.0,2203-11-12,Discharge summary,Report,Admission Date: [**2203-11-3**] ...,M,2161-11-27 00:00:00,2204-05-13,2204-05-13,NaT,1
16,10044,124073.0,2152-10-11,Discharge summary,Report,Admission Date: [**2152-10-2**] Dischar...,F,2071-02-11 00:00:00,2152-10-20,2152-10-20,2152-10-20,1
17,79900,120644.0,2194-07-25,Discharge summary,Report,Admission Date: [**2194-7-18**] ...,F,2123-12-24 00:00:00,2195-11-07,2195-11-07,2195-11-07,1
18,79900,128319.0,2195-04-17,Discharge summary,Report,Admission Date: [**2195-4-14**] ...,F,2123-12-24 00:00:00,2195-11-07,2195-11-07,2195-11-07,1
19,9805,188132.0,2130-02-09,Discharge summary,Report,Admission Date: [**2130-2-3**] D...,M,2060-12-25 00:00:00,2131-11-04,2131-11-04,NaT,1
20,9805,177212.0,2131-07-05,Discharge summary,Report,Admission Date: [**2131-6-28**] ...,M,2060-12-25 00:00:00,2131-11-04,2131-11-04,NaT,1
21,9805,177212.0,2131-07-23,Discharge summary,Report,Admission Date: [**2131-7-5**] D...,M,2060-12-25 00:00:00,2131-11-04,2131-11-04,NaT,1
22,99091,185274.0,2190-02-24,Discharge summary,Report,Admission Date: [**2190-2-11**] ...,F,2132-12-15 00:00:00,NaT,NaT,NaT,0
23,70108,186093.0,2105-04-27,Discharge summary,Report,Admission Date: [**2105-4-16**] ...,F,2044-03-08 00:00:00,NaT,NaT,NaT,0
24,19631,185175.0,2198-05-08,Discharge summary,Report,Admission Date: [**2198-4-23**] ...,M,2122-10-14 00:00:00,NaT,NaT,NaT,0
25,26601,116471.0,2127-07-30,Discharge summary,Report,Admission Date: [**2127-7-21**] ...,F,1827-07-21 00:00:00,2132-04-27,2132-04-27,2132-04-27,1
26,26601,155131.0,2131-12-29,Discharge summary,Report,Admission Date: [**2131-12-23**] ...,F,1827-07-21 00:00:00,2132-04-27,2132-04-27,2132-04-27,1
27,5136,151912.0,2189-12-10,Discharge summary,Report,Admission Date: [**2189-12-1**] Dischar...,M,2123-02-13 00:00:00,2191-06-07,2191-06-07,2191-05-16,1
28,24424,146533.0,2188-05-14,Discharge summary,Report,Admission Date: [**2188-5-9**] D...,M,2121-07-18 00:00:00,2191-07-22,2191-07-22,2191-07-22,1
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07 00:00:00,2194-02-02,2194-02-02,2194-02-02,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2083150,31668,134163.0,2122-07-22,Nursing/other,Report,"1. continues on 200cc 100% nasal cannula O2, R...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083151,31668,134163.0,2122-07-22,Nursing/other,Report,Neonatology NNP note\nPE:\n\nNEURO: infant swa...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083152,31668,134163.0,2122-07-23,Nursing/other,Report,NPN\n\n\n#1 Resp-Remains in NC 100% 100-200cc....,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083153,31668,134163.0,2122-07-23,Nursing/other,Report,"Neo \rAtttneDAY 32 WK PMA\nDay 36, now 32 wk R...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083154,31668,134163.0,2122-08-09,Nursing/other,Report,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on Prong...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083155,31739,123012.0,2195-08-13,Nursing/other,Report,PCA 7pm-7am\n\n\n#1 FEN: TF's remain as [** 14...,M,2195-08-02 00:00:00,NaT,NaT,NaT,0
2083156,31739,123012.0,2195-08-13,Nursing/other,Report,Neonatology Attending\nDOL 11 / PMA 41-2/7 wee...,M,2195-08-02 00:00:00,NaT,NaT,NaT,0
2083157,31741,178895.0,2105-07-31,Nursing/other,Report,"Fellow Progress Note\nDol 14, cga 36.6\nNo ove...",F,2105-07-17 00:00:00,NaT,NaT,NaT,0
2083158,31741,178895.0,2105-07-31,Nursing/other,Report,Fellow Progress Note\nNeonatology Attending\n\...,F,2105-07-17 00:00:00,NaT,NaT,NaT,0
2083159,31893,102752.0,2126-12-05,Nursing/other,Report,NPN\nplease see above note for delivery histor...,M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083160,31893,102752.0,2126-12-06,Nursing/other,Report,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083161,31893,102752.0,2126-12-06,Nursing/other,Report,"NNP PE\n\nResp: Comfortable effort, BS clear a...",M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083162,32242,163974.0,2121-11-14,Nursing/other,Report,"Neonatology\nDOL#5, CGA 26 1/7 weeks.\n\nCVR: ...",M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083163,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\nPlan for baby gram with...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083164,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\n\n\nFluids: TF 150cc/k...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083165,32242,163974.0,2121-11-14,Nursing/other,Report,Respiratory Care\nPt cont on prong CPAP. Weane...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083166,32242,163974.0,2121-11-14,Nursing/other,Report,Neonatology NNP note\nProcedure note: PICC lin...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083167,31668,134163.0,2122-09-10,Nursing/other,Report,NPN 7A-7P\n\n\n#2 After discussion with team a...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083168,31668,134163.0,2122-09-11,Nursing/other,Report,"[** 63**] PHysical Exam\nPE: pink, AFOF, nasal...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083169,31668,134163.0,2122-09-11,Nursing/other,Report,NPN\n\n\n#2F/N O-Infant remains on demand feed...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083170,31668,134163.0,2122-09-11,Nursing/other,Report,SOCIAL WORK\nContinuing to follow this family ...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083171,31668,134163.0,2122-09-11,Nursing/other,Report,Attending Note\nDay of life 76 PMA 39 [**12-7*...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083172,31767,105243.0,2141-01-05,Nursing/other,Report,NICU Attending Admission Note\nPt is a 34 [**6...,M,2141-01-05 00:00:00,NaT,NaT,NaT,0
2083173,31767,105243.0,2141-01-05,Nursing/other,Report,Admission Note\n\n\nBaby boy [**Known lastname...,M,2141-01-05 00:00:00,NaT,NaT,NaT,0
2083174,31097,115637.0,2132-01-20,Nursing/other,Report,0700-[**2054**] NPN\n\n\nRESP: Infant is in RA...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083175,31097,115637.0,2132-01-21,Nursing/other,Report,NPN\n\n\n#1 Infant remains in RA with O2 sats...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083176,31097,115637.0,2132-01-21,Nursing/other,Report,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083177,31097,115637.0,2132-01-21,Nursing/other,Report,Family Meeting Note\nFamily meeting held with ...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083178,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083179,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\nNursing Addendum:\n[**Known lastname...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0

In [19]:
#alive_p=patients[patients['EXPIRE_FLAG']==0]
deathnotes=notes2[notes2['CHARTDATE']==notes2['DOD']]
deathnotes

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27 00:00:00,2112-12-10,2112-12-10,2112-12-10,1
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14 00:00:00,2125-02-16,2125-02-16,2125-02-16,1
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07 00:00:00,2194-02-02,2194-02-02,2194-02-02,1
34,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28 00:00:00,2182-02-28,2182-02-28,2182-02-28,1
35,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28 00:00:00,2182-02-28,2182-02-28,2182-02-28,1
42,17483,189331.0,2147-07-01,Discharge summary,Report,Admission Date: [**2147-6-24**] Discharge...,F,2063-05-04 00:00:00,2147-07-01,2147-07-01,NaT,1
85,18961,199586.0,2196-08-23,Discharge summary,Report,Admission Date: [**2196-8-20**] ...,M,2121-04-19 00:00:00,2196-08-23,2196-08-23,2196-08-23,1
112,32779,133757.0,2167-10-27,Discharge summary,Report,Admission Date: [**2167-10-20**] ...,F,2098-07-31 00:00:00,2167-10-27,2167-10-27,2167-10-27,1
119,13733,196357.0,2143-04-26,Discharge summary,Report,Admission Date: [**2143-4-20**] ...,F,2070-10-21 00:00:00,2143-04-26,2143-04-26,NaT,1
126,57276,171108.0,2118-07-11,Discharge summary,Report,Admission Date: [**2118-7-10**] ...,M,2034-01-26 00:00:00,2118-07-11,2118-07-11,2118-07-11,1
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15 00:00:00,2101-11-10,2101-11-10,2101-11-10,1
144,82208,188268.0,2200-10-27,Discharge summary,Report,Admission Date: [**2200-10-21**] ...,F,2139-08-15 00:00:00,2200-10-27,2200-10-27,2200-10-27,1
153,29530,150159.0,2102-09-30,Discharge summary,Report,Admission Date: [**2102-9-27**] ...,F,2026-01-20 00:00:00,2102-09-30,2102-09-30,2102-09-30,1
160,3506,124868.0,2195-08-15,Discharge summary,Report,Admission Date: [**2195-8-12**] [**Year (...,F,2120-05-13 00:00:00,2195-08-15,2195-08-15,2195-08-15,1
172,55116,186183.0,2179-02-02,Discharge summary,Report,Admission Date: [**2179-1-29**] ...,F,2093-02-16 00:00:00,2179-02-02,2179-02-02,NaT,1
176,24950,124783.0,2108-02-22,Discharge summary,Report,Admission Date: [**2108-2-17**] ...,F,2024-10-03 00:00:00,2108-02-22,2108-02-22,2108-02-22,1
179,14346,197634.0,2139-10-31,Discharge summary,Report,Admission Date: [**2139-10-23**] Discharg...,M,2063-01-13 00:00:00,2139-10-31,2139-10-31,2139-10-31,1
180,20649,177831.0,2154-12-15,Discharge summary,Report,Admission Date: [**2154-12-14**] Death Da...,M,2076-10-10 00:00:00,2154-12-15,2154-12-15,2154-12-15,1
200,24470,174469.0,2130-12-31,Discharge summary,Report,Admission Date: [**2130-12-24**] ...,M,2051-01-26 00:00:00,2130-12-31,2130-12-31,2130-12-31,1
203,56225,138677.0,2197-12-01,Discharge summary,Report,Admission Date: [**2197-11-27**] ...,M,2130-08-26 00:00:00,2197-12-01,2197-12-01,2197-12-01,1
217,18363,196681.0,2179-04-15,Discharge summary,Report,Admission Date: [**2179-3-31**] ...,F,2105-12-17 00:00:00,2179-04-15,NaT,2179-04-15,1
222,7234,128174.0,2161-01-10,Discharge summary,Report,Admission Date: [**2160-12-25**] Discharg...,M,2095-10-21 00:00:00,2161-01-10,2161-01-10,2161-01-10,1
224,13268,115522.0,2163-11-20,Discharge summary,Report,Admission Date: [**2163-11-11**] ...,F,2080-08-17 00:00:00,2163-11-20,2163-11-20,NaT,1
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05 00:00:00,2189-02-15,2189-02-15,2189-02-15,1
252,636,142160.0,2133-09-13,Discharge summary,Report,Admission Date: [**2133-9-3**] D...,M,2051-01-18 00:00:00,2133-09-13,2133-09-13,2133-09-13,1
253,15159,187095.0,2103-08-19,Discharge summary,Report,Admission Date: [**2103-8-16**] Discharge...,M,2070-11-24 00:00:00,2103-08-19,2103-08-19,2103-08-19,1
260,19535,182834.0,2191-04-22,Discharge summary,Report,Admission Date: [**2191-4-8**] Discharge ...,M,2108-11-17 00:00:00,2191-04-22,2191-04-22,2191-04-22,1
288,23637,117843.0,2196-05-16,Discharge summary,Report,Admission Date: [**2196-5-13**] Discharge...,F,2110-02-17 00:00:00,2196-05-16,2196-05-16,2196-05-16,1
289,74913,180080.0,2193-08-07,Discharge summary,Report,Admission Date: [**2193-8-5**] D...,F,2118-07-09 00:00:00,2193-08-07,2193-08-07,2193-08-07,1
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14 00:00:00,2145-11-18,2145-11-18,2145-11-18,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2065600,32617,158242.0,2133-08-14,Nursing/other,Report,Respiratory Care\nBaby [**Known lastname 1224*...,F,2133-08-13 00:00:00,2133-08-14,2133-08-14,NaT,1
2065724,65025,163498.0,2189-11-29,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n -Cont...,F,2125-10-28 00:00:00,2189-11-29,2189-11-29,2189-11-29,1
2065742,72483,162745.0,2196-01-15,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n NON-INV...,M,2131-09-28 00:00:00,2196-01-15,2196-01-15,2196-01-15,1
2065919,27639,143753.0,2192-08-31,Nutrition,Clinical Nutrition Note,"Comments:\n Noted per family meeting, plan t...",F,2109-10-13 00:00:00,2192-08-31,2192-08-31,2192-09-03,1
2066060,54610,147673.0,2150-12-28,Physician,Physician Resident Progress Note,TITLE:\n Chief Complaint:\n 24 Hour Events...,M,2090-05-19 00:00:00,2150-12-28,2150-12-28,2150-12-28,1
2066150,32475,152133.0,2146-02-12,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n BLOOD C...,F,2060-07-03 00:00:00,2146-02-12,2146-02-12,2146-02-12,1
2066153,65623,134319.0,2151-03-05,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n -Surg...,M,2106-08-16 00:00:00,2151-03-05,2151-03-05,2151-03-05,1
2066154,65623,NaN,2151-03-05,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n -Surg...,M,2106-08-16 00:00:00,2151-03-05,2151-03-05,2151-03-05,1
2066518,18200,111573.0,2121-06-05,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n [**21...,F,1814-03-12 00:00:00,2121-06-05,2121-06-05,NaT,1
2066625,32136,175584.0,2158-05-08,Physician,Physician Resident Progress Note,Chief Complaint:\n 24 Hour Events:\n ARTERIA...,M,2072-06-02 00:00:00,2158-05-08,2158-05-08,2158-05-08,1
2066663,58075,127298.0,2161-10-16,Physician,Physician Resident Progress Note,TITLE:\n Chief Complaint:\n 24 Hour Events...,M,2083-05-07 00:00:00,2161-10-16,2161-10-16,2161-10-16,1
2066742,26525,NaN,2137-01-10,Nursing/other,Report,NPN\n\nReceived infant on the vent at settings...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067028,26525,NaN,2137-01-10,Nursing/other,Report,Neonatology Attending\n\n[**Known lastname 266...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067613,26525,NaN,2137-01-10,Nursing/other,Report,Neonatology\nHx and PE as noted by fellow note...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067614,26525,NaN,2137-01-10,Nursing/other,Report,Nursing Progress Note:\nAdmitted infant girl [...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067615,26525,NaN,2137-01-10,Nursing/other,Report,Neonatology Sr. Fellow Admission and Transfer ...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067632,26525,NaN,2137-01-10,Nursing/other,Report,Neonatology\n[**Known lastname 2666**] has ret...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2067633,26525,NaN,2137-01-10,Nursing/other,Report,Re-admit/NPN Note:\nInfant returned from TCH v...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2068178,26525,NaN,2137-01-10,Nursing/other,Report,Respiratory Care\nPt rec'd in DR [**Last Name ...,F,2137-01-10 00:00:00,2137-01-10,2137-01-10,NaT,1
2073165,31578,170265.0,2104-09-04,Nursing/other,Report,Respiratory Care Note\nBaby had severe desat r...,F,2104-09-02 00:00:00,2104-09-04,2104-09-04,NaT,1
2076704,29715,164167.0,2109-10-19,Nursing/other,Report,Respiratory Care Note\nPt. continues on MAP 8 ...,M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2076705,29715,164167.0,2109-10-19,Nursing/other,Report,NPN\n\n\n# 1 sepsis- Remains on Amp+ Gent. BC ...,M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2076982,29715,164167.0,2109-10-19,Nursing/other,Report,"NNP PHysical Exam\nPE: pink, fetal appearing, ...",M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2076983,29715,164167.0,2109-10-19,Nursing/other,Report,Neonatology Attending Event and Death Note\nCX...,M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2076984,29715,164167.0,2109-10-19,Nursing/other,Report,Neonatology Attending Event and Death Note\n(C...,M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2078840,29715,164167.0,2109-10-19,Nursing/other,Report,Neonatology Attending\nDOL 2 / CGA 24 3/7 week...,M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2078841,29715,164167.0,2109-10-19,Nursing/other,Report,"Nursing note:\nReceived infant today on HFOV, ...",M,2109-10-17 00:00:00,2109-10-19,2109-10-19,NaT,1
2081653,31844,145602.0,2149-11-22,Nursing/other,Report,NICU nursing event note\nInfant active and irr...,M,2149-11-20 00:00:00,2149-11-22,2149-11-22,NaT,1
2081654,31844,145602.0,2149-11-22,Nursing/other,Report,Respiratory Care Note\nPt. received on HFOV MA...,M,2149-11-20 00:00:00,2149-11-22,2149-11-22,NaT,1
2081655,31844,145602.0,2149-11-22,Nursing/other,Report,Neonatology Attending\n\nCalled to bedside ear...,M,2149-11-20 00:00:00,2149-11-22,2149-11-22,NaT,1

In [20]:
goodnotes=notes2[notes2['EXPIRE_FLAG']==0]
goodnotes

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
0,22532,167853.0,2151-08-04,Discharge summary,Report,Admission Date: [**2151-7-16**] Dischar...,F,2064-08-20 00:00:00,NaT,NaT,NaT,0
5,53181,170490.0,2172-03-08,Discharge summary,Report,Admission Date: [**2172-3-5**] D...,F,2109-10-08 00:00:00,NaT,NaT,NaT,0
7,42130,114236.0,2150-03-01,Discharge summary,Report,Admission Date: [**2150-2-25**] ...,M,2086-12-19 00:00:00,NaT,NaT,NaT,0
8,56174,163469.0,2118-08-12,Discharge summary,Report,Admission Date: [**2118-8-10**] ...,F,2073-12-25 00:00:00,NaT,NaT,NaT,0
9,56174,189681.0,2118-12-09,Discharge summary,Report,Admission Date: [**2118-12-7**] ...,F,2073-12-25 00:00:00,NaT,NaT,NaT,0
11,1136,139574.0,2192-05-23,Discharge summary,Report,Admission Date: [**2192-4-19**] ...,F,2107-11-14 00:00:00,NaT,NaT,NaT,0
22,99091,185274.0,2190-02-24,Discharge summary,Report,Admission Date: [**2190-2-11**] ...,F,2132-12-15 00:00:00,NaT,NaT,NaT,0
23,70108,186093.0,2105-04-27,Discharge summary,Report,Admission Date: [**2105-4-16**] ...,F,2044-03-08 00:00:00,NaT,NaT,NaT,0
24,19631,185175.0,2198-05-08,Discharge summary,Report,Admission Date: [**2198-4-23**] ...,M,2122-10-14 00:00:00,NaT,NaT,NaT,0
33,19183,145164.0,2141-07-13,Discharge summary,Report,Admission Date: [**2141-7-9**] D...,M,2095-12-08 00:00:00,NaT,NaT,NaT,0
36,30812,112678.0,2143-11-25,Discharge summary,Report,Admission Date: [**2143-11-22**] ...,M,2075-10-18 00:00:00,NaT,NaT,NaT,0
37,96774,129414.0,2174-02-14,Discharge summary,Report,Admission Date: [**2174-2-12**] ...,M,2122-04-28 00:00:00,NaT,NaT,NaT,0
38,62745,133623.0,2145-12-01,Discharge summary,Report,Admission Date: [**2145-11-30**] ...,M,2091-04-13 00:00:00,NaT,NaT,NaT,0
39,1136,186931.0,2194-05-14,Discharge summary,Report,Admission Date: [**2194-5-8**] D...,F,2107-11-14 00:00:00,NaT,NaT,NaT,0
40,1136,136706.0,2194-08-16,Discharge summary,Report,Admission Date: [**2194-8-15**] ...,F,2107-11-14 00:00:00,NaT,NaT,NaT,0
41,98046,139402.0,2198-08-04,Discharge summary,Report,Admission Date: [**2198-7-17**] ...,M,2132-06-25 00:00:00,NaT,NaT,NaT,0
44,26175,156154.0,2112-05-05,Discharge summary,Report,Admission Date: [**2112-4-22**] ...,F,2035-10-21 00:00:00,NaT,NaT,NaT,0
45,82559,197325.0,2157-02-08,Discharge summary,Report,Admission Date: [**2157-2-1**] D...,F,2071-03-01 00:00:00,NaT,NaT,NaT,0
47,22180,116189.0,2132-09-09,Discharge summary,Report,Admission Date: [**2132-9-4**] D...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
48,22180,162436.0,2134-03-09,Discharge summary,Report,Admission Date: [**2134-2-16**] ...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
49,22180,186367.0,2134-08-20,Discharge summary,Report,Admission Date: [**2134-8-12**] ...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
50,22180,183067.0,2136-04-09,Discharge summary,Report,Admission Date: [**2136-4-4**] D...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
51,22180,190828.0,2139-12-04,Discharge summary,Report,Admission Date: [**2139-11-24**] ...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
52,22180,133797.0,2139-12-31,Discharge summary,Report,Admission Date: [**2139-12-25**] ...,F,2052-03-07 00:00:00,NaT,NaT,NaT,0
57,13289,119078.0,2103-08-09,Discharge summary,Report,Admission Date: [**2103-7-26**] ...,F,2072-05-04 00:00:00,NaT,NaT,NaT,0
58,13289,165604.0,2103-11-22,Discharge summary,Report,Admission Date: [**2103-11-12**] ...,F,2072-05-04 00:00:00,NaT,NaT,NaT,0
63,21449,139542.0,2146-07-04,Discharge summary,Report,Admission Date: [**2146-7-1**] D...,M,2088-09-20 00:00:00,NaT,NaT,NaT,0
64,40273,124821.0,2159-04-10,Discharge summary,Report,Admission Date: [**2159-4-6**] D...,M,2120-01-29 00:00:00,NaT,NaT,NaT,0
65,76874,113329.0,2101-10-28,Discharge summary,Report,Admission Date: [**2101-10-25**] ...,F,2064-10-02 00:00:00,NaT,NaT,NaT,0
66,4850,175619.0,2178-07-16,Discharge summary,Report,Admission Date: [**2178-7-13**] ...,M,2113-11-13 00:00:00,NaT,NaT,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2083150,31668,134163.0,2122-07-22,Nursing/other,Report,"1. continues on 200cc 100% nasal cannula O2, R...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083151,31668,134163.0,2122-07-22,Nursing/other,Report,Neonatology NNP note\nPE:\n\nNEURO: infant swa...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083152,31668,134163.0,2122-07-23,Nursing/other,Report,NPN\n\n\n#1 Resp-Remains in NC 100% 100-200cc....,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083153,31668,134163.0,2122-07-23,Nursing/other,Report,"Neo \rAtttneDAY 32 WK PMA\nDay 36, now 32 wk R...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083154,31668,134163.0,2122-08-09,Nursing/other,Report,NICU NSG NOTE\n\n\n#1. Resp. O/ Conts on Prong...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083155,31739,123012.0,2195-08-13,Nursing/other,Report,PCA 7pm-7am\n\n\n#1 FEN: TF's remain as [** 14...,M,2195-08-02 00:00:00,NaT,NaT,NaT,0
2083156,31739,123012.0,2195-08-13,Nursing/other,Report,Neonatology Attending\nDOL 11 / PMA 41-2/7 wee...,M,2195-08-02 00:00:00,NaT,NaT,NaT,0
2083157,31741,178895.0,2105-07-31,Nursing/other,Report,"Fellow Progress Note\nDol 14, cga 36.6\nNo ove...",F,2105-07-17 00:00:00,NaT,NaT,NaT,0
2083158,31741,178895.0,2105-07-31,Nursing/other,Report,Fellow Progress Note\nNeonatology Attending\n\...,F,2105-07-17 00:00:00,NaT,NaT,NaT,0
2083159,31893,102752.0,2126-12-05,Nursing/other,Report,NPN\nplease see above note for delivery histor...,M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083160,31893,102752.0,2126-12-06,Nursing/other,Report,NPN 11p-7a\n\n\n#1 Infant placed to RA @ shift...,M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083161,31893,102752.0,2126-12-06,Nursing/other,Report,"NNP PE\n\nResp: Comfortable effort, BS clear a...",M,2126-12-05 00:00:00,NaT,NaT,NaT,0
2083162,32242,163974.0,2121-11-14,Nursing/other,Report,"Neonatology\nDOL#5, CGA 26 1/7 weeks.\n\nCVR: ...",M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083163,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\nPlan for baby gram with...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083164,32242,163974.0,2121-11-14,Nursing/other,Report,Nursing Progress Note\n\n\nFluids: TF 150cc/k...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083165,32242,163974.0,2121-11-14,Nursing/other,Report,Respiratory Care\nPt cont on prong CPAP. Weane...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083166,32242,163974.0,2121-11-14,Nursing/other,Report,Neonatology NNP note\nProcedure note: PICC lin...,M,2121-11-09 00:00:00,NaT,NaT,NaT,0
2083167,31668,134163.0,2122-09-10,Nursing/other,Report,NPN 7A-7P\n\n\n#2 After discussion with team a...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083168,31668,134163.0,2122-09-11,Nursing/other,Report,"[** 63**] PHysical Exam\nPE: pink, AFOF, nasal...",M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083169,31668,134163.0,2122-09-11,Nursing/other,Report,NPN\n\n\n#2F/N O-Infant remains on demand feed...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083170,31668,134163.0,2122-09-11,Nursing/other,Report,SOCIAL WORK\nContinuing to follow this family ...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083171,31668,134163.0,2122-09-11,Nursing/other,Report,Attending Note\nDay of life 76 PMA 39 [**12-7*...,M,2122-06-27 00:00:00,NaT,NaT,NaT,0
2083172,31767,105243.0,2141-01-05,Nursing/other,Report,NICU Attending Admission Note\nPt is a 34 [**6...,M,2141-01-05 00:00:00,NaT,NaT,NaT,0
2083173,31767,105243.0,2141-01-05,Nursing/other,Report,Admission Note\n\n\nBaby boy [**Known lastname...,M,2141-01-05 00:00:00,NaT,NaT,NaT,0
2083174,31097,115637.0,2132-01-20,Nursing/other,Report,0700-[**2054**] NPN\n\n\nRESP: Infant is in RA...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083175,31097,115637.0,2132-01-21,Nursing/other,Report,NPN\n\n\n#1 Infant remains in RA with O2 sats...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083176,31097,115637.0,2132-01-21,Nursing/other,Report,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083177,31097,115637.0,2132-01-21,Nursing/other,Report,Family Meeting Note\nFamily meeting held with ...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083178,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0
2083179,31097,115637.0,2132-01-21,Nursing/other,Report,NPN 1800\nNursing Addendum:\n[**Known lastname...,M,2132-01-16 00:00:00,NaT,NaT,NaT,0

In [21]:
deathnotes['CATEGORY'].unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Respiratory ',
       'General', 'Physician ', 'Nutrition', 'Social Work',
       'Case Management ', 'Rehab Services', 'Consult', 'Pharmacy',
       'Radiology', 'Nursing/other'], dtype=object)

In [22]:
dcn=deathnotes[deathnotes['CATEGORY']=='Discharge summary']

In [23]:
dcn

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27 00:00:00,2112-12-10,2112-12-10,2112-12-10,1
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14 00:00:00,2125-02-16,2125-02-16,2125-02-16,1
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07 00:00:00,2194-02-02,2194-02-02,2194-02-02,1
34,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28 00:00:00,2182-02-28,2182-02-28,2182-02-28,1
35,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28 00:00:00,2182-02-28,2182-02-28,2182-02-28,1
42,17483,189331.0,2147-07-01,Discharge summary,Report,Admission Date: [**2147-6-24**] Discharge...,F,2063-05-04 00:00:00,2147-07-01,2147-07-01,NaT,1
85,18961,199586.0,2196-08-23,Discharge summary,Report,Admission Date: [**2196-8-20**] ...,M,2121-04-19 00:00:00,2196-08-23,2196-08-23,2196-08-23,1
112,32779,133757.0,2167-10-27,Discharge summary,Report,Admission Date: [**2167-10-20**] ...,F,2098-07-31 00:00:00,2167-10-27,2167-10-27,2167-10-27,1
119,13733,196357.0,2143-04-26,Discharge summary,Report,Admission Date: [**2143-4-20**] ...,F,2070-10-21 00:00:00,2143-04-26,2143-04-26,NaT,1
126,57276,171108.0,2118-07-11,Discharge summary,Report,Admission Date: [**2118-7-10**] ...,M,2034-01-26 00:00:00,2118-07-11,2118-07-11,2118-07-11,1
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15 00:00:00,2101-11-10,2101-11-10,2101-11-10,1
144,82208,188268.0,2200-10-27,Discharge summary,Report,Admission Date: [**2200-10-21**] ...,F,2139-08-15 00:00:00,2200-10-27,2200-10-27,2200-10-27,1
153,29530,150159.0,2102-09-30,Discharge summary,Report,Admission Date: [**2102-9-27**] ...,F,2026-01-20 00:00:00,2102-09-30,2102-09-30,2102-09-30,1
160,3506,124868.0,2195-08-15,Discharge summary,Report,Admission Date: [**2195-8-12**] [**Year (...,F,2120-05-13 00:00:00,2195-08-15,2195-08-15,2195-08-15,1
172,55116,186183.0,2179-02-02,Discharge summary,Report,Admission Date: [**2179-1-29**] ...,F,2093-02-16 00:00:00,2179-02-02,2179-02-02,NaT,1
176,24950,124783.0,2108-02-22,Discharge summary,Report,Admission Date: [**2108-2-17**] ...,F,2024-10-03 00:00:00,2108-02-22,2108-02-22,2108-02-22,1
179,14346,197634.0,2139-10-31,Discharge summary,Report,Admission Date: [**2139-10-23**] Discharg...,M,2063-01-13 00:00:00,2139-10-31,2139-10-31,2139-10-31,1
180,20649,177831.0,2154-12-15,Discharge summary,Report,Admission Date: [**2154-12-14**] Death Da...,M,2076-10-10 00:00:00,2154-12-15,2154-12-15,2154-12-15,1
200,24470,174469.0,2130-12-31,Discharge summary,Report,Admission Date: [**2130-12-24**] ...,M,2051-01-26 00:00:00,2130-12-31,2130-12-31,2130-12-31,1
203,56225,138677.0,2197-12-01,Discharge summary,Report,Admission Date: [**2197-11-27**] ...,M,2130-08-26 00:00:00,2197-12-01,2197-12-01,2197-12-01,1
217,18363,196681.0,2179-04-15,Discharge summary,Report,Admission Date: [**2179-3-31**] ...,F,2105-12-17 00:00:00,2179-04-15,NaT,2179-04-15,1
222,7234,128174.0,2161-01-10,Discharge summary,Report,Admission Date: [**2160-12-25**] Discharg...,M,2095-10-21 00:00:00,2161-01-10,2161-01-10,2161-01-10,1
224,13268,115522.0,2163-11-20,Discharge summary,Report,Admission Date: [**2163-11-11**] ...,F,2080-08-17 00:00:00,2163-11-20,2163-11-20,NaT,1
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05 00:00:00,2189-02-15,2189-02-15,2189-02-15,1
252,636,142160.0,2133-09-13,Discharge summary,Report,Admission Date: [**2133-9-3**] D...,M,2051-01-18 00:00:00,2133-09-13,2133-09-13,2133-09-13,1
253,15159,187095.0,2103-08-19,Discharge summary,Report,Admission Date: [**2103-8-16**] Discharge...,M,2070-11-24 00:00:00,2103-08-19,2103-08-19,2103-08-19,1
260,19535,182834.0,2191-04-22,Discharge summary,Report,Admission Date: [**2191-4-8**] Discharge ...,M,2108-11-17 00:00:00,2191-04-22,2191-04-22,2191-04-22,1
288,23637,117843.0,2196-05-16,Discharge summary,Report,Admission Date: [**2196-5-13**] Discharge...,F,2110-02-17 00:00:00,2196-05-16,2196-05-16,2196-05-16,1
289,74913,180080.0,2193-08-07,Discharge summary,Report,Admission Date: [**2193-8-5**] D...,F,2118-07-09 00:00:00,2193-08-07,2193-08-07,2193-08-07,1
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14 00:00:00,2145-11-18,2145-11-18,2145-11-18,1
...,...,...,...,...,...,...,...,...,...,...,...,...
58965,94828,116543.0,2112-10-16,Discharge summary,Addendum,"Name: [**Known lastname 15075**],[**Known fir...",M,2041-10-20 00:00:00,2112-10-16,2112-10-16,NaT,1
58967,6560,134948.0,2182-07-21,Discharge summary,Addendum,"Name: [**Last Name (LF) 15173**], [**Known fi...",F,2106-04-20 00:00:00,2182-07-21,2182-07-21,2182-07-21,1
59106,12089,185999.0,2178-06-06,Discharge summary,Addendum,"Name: [**Known lastname 17796**], [**Known fi...",M,2108-09-16 00:00:00,2178-06-06,2178-06-06,2178-06-06,1
59108,91,121205.0,2177-05-10,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2095-09-26 00:00:00,2177-05-10,2177-05-10,2177-05-10,1
59156,804,138064.0,2154-09-02,Discharge summary,Addendum,"Name: [**Known lastname 635**], [**Known firs...",M,2085-05-01 00:00:00,2154-09-02,2154-09-02,2154-09-02,1
59201,15639,190575.0,2111-01-01,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2029-06-26 00:00:00,2111-01-01,2111-01-01,2111-01-01,1
59231,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03 00:00:00,2100-12-22,2100-12-22,2100-12-22,1
59232,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03 00:00:00,2100-12-22,2100-12-22,2100-12-22,1
59233,63552,105459.0,2137-12-30,Discharge summary,Addendum,"Name: [**Known lastname 16305**],[**Known fir...",F,2060-10-12 00:00:00,2137-12-30,2137-12-30,NaT,1
59287,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04 00:00:00,2147-04-14,2147-04-14,2147-04-14,1
59289,1399,108903.0,2109-03-23,Discharge summary,Addendum,"Name: [**Known lastname 17941**], [**Known fi...",M,2034-04-19 00:00:00,2109-03-23,2109-03-23,2109-03-23,1
59336,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04 00:00:00,2147-04-14,2147-04-14,2147-04-14,1
59396,23450,122507.0,2167-04-29,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2085-04-01 00:00:00,2167-04-29,2167-04-29,2167-04-29,1
59420,72039,113103.0,2114-08-18,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1814-08-10 00:00:00,2114-08-18,2114-08-18,NaT,1
59457,7407,110883.0,2126-02-13,Discharge summary,Addendum,"Name: [**Known lastname 17009**], [**Known fi...",F,2039-10-31 00:00:00,2126-02-13,2126-02-13,2126-02-13,1
59470,14451,121734.0,2165-01-10,Discharge summary,Addendum,"Name: [**Known lastname 3317**], [**Known fir...",F,1864-12-19 00:00:00,2165-01-10,2165-01-10,2165-01-10,1
59491,12412,101380.0,2176-05-19,Discharge summary,Addendum,"Name: [**Known lastname 5129**], [**Known fir...",M,2124-09-13 00:00:00,2176-05-19,2176-05-19,2176-05-19,1
59529,18403,105208.0,2165-08-14,Discharge summary,Addendum,"Name: [**Known lastname 16701**], [**Known fi...",M,2079-07-25 00:00:00,2165-08-14,2165-08-14,2165-08-14,1
59555,834,153730.0,2166-09-12,Discharge summary,Addendum,"Name:[**Known lastname **],[**Known firstname ...",M,2090-06-15 00:00:00,2166-09-12,2166-09-12,2166-09-20,1
59566,41074,182558.0,2121-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18113**] SR.,[**Known...",M,2047-02-20 00:00:00,2121-06-14,2121-06-14,NaT,1
59568,10154,144501.0,2197-01-04,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",M,2110-12-14 00:00:00,2197-01-04,NaT,2197-01-04,1
59601,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04 00:00:00,2106-03-04,2106-03-04,2106-03-04,1
59602,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04 00:00:00,2106-03-04,2106-03-04,2106-03-04,1
59603,21219,177991.0,2142-09-25,Discharge summary,Addendum,"Name: [**Known lastname 15680**], [**Known fi...",M,2059-04-04 00:00:00,2142-09-25,2142-09-25,2142-09-25,1
59614,12849,161593.0,2140-04-26,Discharge summary,Addendum,"Name: [**Known lastname 16777**], [**Known fi...",M,2090-07-07 00:00:00,2140-04-26,2140-04-26,2140-04-26,1
59620,14542,132211.0,2132-07-29,Discharge summary,Addendum,"Name: [**Known lastname 17303**], [**Known fi...",F,2047-03-22 00:00:00,2132-07-29,2132-07-29,2132-07-29,1
59627,21870,111705.0,2119-11-15,Discharge summary,Addendum,"Name: [**Known lastname 2583**], [**Known fir...",F,2070-08-25 00:00:00,2119-11-15,2119-11-15,2119-11-15,1
59644,27983,190484.0,2192-11-10,Discharge summary,Addendum,"Name: [**Known lastname 400**],[**Known first...",F,1892-10-19 00:00:00,2192-11-10,2192-11-10,2192-11-10,1
59646,26673,183398.0,2119-07-11,Discharge summary,Addendum,"Name: [**Known lastname 183**], [**Known firs...",F,2043-11-11 00:00:00,2119-07-11,2119-07-11,2119-07-11,1
60413,96333,183951.0,2197-06-18,Discharge summary,Addendum,Name: [**Known lastname 18357**]-[**Known las...,F,2143-05-28 00:00:00,2197-06-18,2197-06-18,2197-06-18,1

In [24]:
dcn['DOB']=pd.to_datetime(dcn['DOB'],format='%Y-%m-%d %H:%M:%S')
dcn['deadage']=dcn['DOD_HOSP']-dcn['DOB']
dcn

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27,2112-12-10,2112-12-10,2112-12-10,1,30147 days 00:00:00
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14,2125-02-16,2125-02-16,2125-02-16,1,30774 days 00:00:00
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07,2194-02-02,2194-02-02,2194-02-02,1,-103905 days +00:25:26.290448
34,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,26482 days 00:00:00
35,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,26482 days 00:00:00
42,17483,189331.0,2147-07-01,Discharge summary,Report,Admission Date: [**2147-6-24**] Discharge...,F,2063-05-04,2147-07-01,2147-07-01,NaT,1,30738 days 00:00:00
85,18961,199586.0,2196-08-23,Discharge summary,Report,Admission Date: [**2196-8-20**] ...,M,2121-04-19,2196-08-23,2196-08-23,2196-08-23,1,27520 days 00:00:00
112,32779,133757.0,2167-10-27,Discharge summary,Report,Admission Date: [**2167-10-20**] ...,F,2098-07-31,2167-10-27,2167-10-27,2167-10-27,1,25289 days 00:00:00
119,13733,196357.0,2143-04-26,Discharge summary,Report,Admission Date: [**2143-4-20**] ...,F,2070-10-21,2143-04-26,2143-04-26,NaT,1,26484 days 00:00:00
126,57276,171108.0,2118-07-11,Discharge summary,Report,Admission Date: [**2118-7-10**] ...,M,2034-01-26,2118-07-11,2118-07-11,2118-07-11,1,30846 days 00:00:00
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15,2101-11-10,2101-11-10,2101-11-10,1,-103844 days +00:25:26.290448
144,82208,188268.0,2200-10-27,Discharge summary,Report,Admission Date: [**2200-10-21**] ...,F,2139-08-15,2200-10-27,2200-10-27,2200-10-27,1,22353 days 00:00:00
153,29530,150159.0,2102-09-30,Discharge summary,Report,Admission Date: [**2102-9-27**] ...,F,2026-01-20,2102-09-30,2102-09-30,2102-09-30,1,28011 days 00:00:00
160,3506,124868.0,2195-08-15,Discharge summary,Report,Admission Date: [**2195-8-12**] [**Year (...,F,2120-05-13,2195-08-15,2195-08-15,2195-08-15,1,27487 days 00:00:00
172,55116,186183.0,2179-02-02,Discharge summary,Report,Admission Date: [**2179-1-29**] ...,F,2093-02-16,2179-02-02,2179-02-02,NaT,1,31396 days 00:00:00
176,24950,124783.0,2108-02-22,Discharge summary,Report,Admission Date: [**2108-2-17**] ...,F,2024-10-03,2108-02-22,2108-02-22,2108-02-22,1,30456 days 00:00:00
179,14346,197634.0,2139-10-31,Discharge summary,Report,Admission Date: [**2139-10-23**] Discharg...,M,2063-01-13,2139-10-31,2139-10-31,2139-10-31,1,28049 days 00:00:00
180,20649,177831.0,2154-12-15,Discharge summary,Report,Admission Date: [**2154-12-14**] Death Da...,M,2076-10-10,2154-12-15,2154-12-15,2154-12-15,1,28554 days 00:00:00
200,24470,174469.0,2130-12-31,Discharge summary,Report,Admission Date: [**2130-12-24**] ...,M,2051-01-26,2130-12-31,2130-12-31,2130-12-31,1,29193 days 00:00:00
203,56225,138677.0,2197-12-01,Discharge summary,Report,Admission Date: [**2197-11-27**] ...,M,2130-08-26,2197-12-01,2197-12-01,2197-12-01,1,24569 days 00:00:00
217,18363,196681.0,2179-04-15,Discharge summary,Report,Admission Date: [**2179-3-31**] ...,F,2105-12-17,2179-04-15,NaT,2179-04-15,1,NaT
222,7234,128174.0,2161-01-10,Discharge summary,Report,Admission Date: [**2160-12-25**] Discharg...,M,2095-10-21,2161-01-10,2161-01-10,2161-01-10,1,23822 days 00:00:00
224,13268,115522.0,2163-11-20,Discharge summary,Report,Admission Date: [**2163-11-11**] ...,F,2080-08-17,2163-11-20,2163-11-20,NaT,1,30409 days 00:00:00
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05,2189-02-15,2189-02-15,2189-02-15,1,-103921 days +00:25:26.290448
252,636,142160.0,2133-09-13,Discharge summary,Report,Admission Date: [**2133-9-3**] D...,M,2051-01-18,2133-09-13,2133-09-13,2133-09-13,1,30188 days 00:00:00
253,15159,187095.0,2103-08-19,Discharge summary,Report,Admission Date: [**2103-8-16**] Discharge...,M,2070-11-24,2103-08-19,2103-08-19,2103-08-19,1,11955 days 00:00:00
260,19535,182834.0,2191-04-22,Discharge summary,Report,Admission Date: [**2191-4-8**] Discharge ...,M,2108-11-17,2191-04-22,2191-04-22,2191-04-22,1,30106 days 00:00:00
288,23637,117843.0,2196-05-16,Discharge summary,Report,Admission Date: [**2196-5-13**] Discharge...,F,2110-02-17,2196-05-16,2196-05-16,2196-05-16,1,31500 days 00:00:00
289,74913,180080.0,2193-08-07,Discharge summary,Report,Admission Date: [**2193-8-5**] D...,F,2118-07-09,2193-08-07,2193-08-07,2193-08-07,1,27423 days 00:00:00
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14,2145-11-18,2145-11-18,2145-11-18,1,-103927 days +00:25:26.290448
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58965,94828,116543.0,2112-10-16,Discharge summary,Addendum,"Name: [**Known lastname 15075**],[**Known fir...",M,2041-10-20,2112-10-16,2112-10-16,NaT,1,25928 days 00:00:00
58967,6560,134948.0,2182-07-21,Discharge summary,Addendum,"Name: [**Last Name (LF) 15173**], [**Known fi...",F,2106-04-20,2182-07-21,2182-07-21,2182-07-21,1,27851 days 00:00:00
59106,12089,185999.0,2178-06-06,Discharge summary,Addendum,"Name: [**Known lastname 17796**], [**Known fi...",M,2108-09-16,2178-06-06,2178-06-06,2178-06-06,1,25465 days 00:00:00
59108,91,121205.0,2177-05-10,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2095-09-26,2177-05-10,2177-05-10,2177-05-10,1,29811 days 00:00:00
59156,804,138064.0,2154-09-02,Discharge summary,Addendum,"Name: [**Known lastname 635**], [**Known firs...",M,2085-05-01,2154-09-02,2154-09-02,2154-09-02,1,25325 days 00:00:00
59201,15639,190575.0,2111-01-01,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2029-06-26,2111-01-01,2111-01-01,2111-01-01,1,29773 days 00:00:00
59231,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-103912 days +00:25:26.290448
59232,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-103912 days +00:25:26.290448
59233,63552,105459.0,2137-12-30,Discharge summary,Addendum,"Name: [**Known lastname 16305**],[**Known fir...",F,2060-10-12,2137-12-30,2137-12-30,NaT,1,28202 days 00:00:00
59287,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,27311 days 00:00:00
59289,1399,108903.0,2109-03-23,Discharge summary,Addendum,"Name: [**Known lastname 17941**], [**Known fi...",M,2034-04-19,2109-03-23,2109-03-23,2109-03-23,1,27366 days 00:00:00
59336,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,27311 days 00:00:00
59396,23450,122507.0,2167-04-29,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2085-04-01,2167-04-29,2167-04-29,2167-04-29,1,29977 days 00:00:00
59420,72039,113103.0,2114-08-18,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1814-08-10,2114-08-18,2114-08-18,NaT,1,-103923 days +00:25:26.290448
59457,7407,110883.0,2126-02-13,Discharge summary,Addendum,"Name: [**Known lastname 17009**], [**Known fi...",F,2039-10-31,2126-02-13,2126-02-13,2126-02-13,1,31516 days 00:00:00
59470,14451,121734.0,2165-01-10,Discharge summary,Addendum,"Name: [**Known lastname 3317**], [**Known fir...",F,1864-12-19,2165-01-10,2165-01-10,2165-01-10,1,-103909 days +00:25:26.290448
59491,12412,101380.0,2176-05-19,Discharge summary,Addendum,"Name: [**Known lastname 5129**], [**Known fir...",M,2124-09-13,2176-05-19,2176-05-19,2176-05-19,1,18876 days 00:00:00
59529,18403,105208.0,2165-08-14,Discharge summary,Addendum,"Name: [**Known lastname 16701**], [**Known fi...",M,2079-07-25,2165-08-14,2165-08-14,2165-08-14,1,31431 days 00:00:00
59555,834,153730.0,2166-09-12,Discharge summary,Addendum,"Name:[**Known lastname **],[**Known firstname ...",M,2090-06-15,2166-09-12,2166-09-12,2166-09-20,1,27847 days 00:00:00
59566,41074,182558.0,2121-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18113**] SR.,[**Known...",M,2047-02-20,2121-06-14,2121-06-14,NaT,1,27142 days 00:00:00
59568,10154,144501.0,2197-01-04,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",M,2110-12-14,2197-01-04,NaT,2197-01-04,1,NaT
59601,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,29978 days 00:00:00
59602,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,29978 days 00:00:00
59603,21219,177991.0,2142-09-25,Discharge summary,Addendum,"Name: [**Known lastname 15680**], [**Known fi...",M,2059-04-04,2142-09-25,2142-09-25,2142-09-25,1,30489 days 00:00:00
59614,12849,161593.0,2140-04-26,Discharge summary,Addendum,"Name: [**Known lastname 16777**], [**Known fi...",M,2090-07-07,2140-04-26,2140-04-26,2140-04-26,1,18190 days 00:00:00
59620,14542,132211.0,2132-07-29,Discharge summary,Addendum,"Name: [**Known lastname 17303**], [**Known fi...",F,2047-03-22,2132-07-29,2132-07-29,2132-07-29,1,31175 days 00:00:00
59627,21870,111705.0,2119-11-15,Discharge summary,Addendum,"Name: [**Known lastname 2583**], [**Known fir...",F,2070-08-25,2119-11-15,2119-11-15,2119-11-15,1,17978 days 00:00:00
59644,27983,190484.0,2192-11-10,Discharge summary,Addendum,"Name: [**Known lastname 400**],[**Known first...",F,1892-10-19,2192-11-10,2192-11-10,2192-11-10,1,-103909 days +00:25:26.290448
59646,26673,183398.0,2119-07-11,Discharge summary,Addendum,"Name: [**Known lastname 183**], [**Known firs...",F,2043-11-11,2119-07-11,2119-07-11,2119-07-11,1,27635 days 00:00:00
60413,96333,183951.0,2197-06-18,Discharge summary,Addendum,Name: [**Known lastname 18357**]-[**Known las...,F,2143-05-28,2197-06-18,2197-06-18,2197-06-18,1,19745 days 00:00:00

In [25]:
dcn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5414 entries, 6 to 60413
Data columns (total 13 columns):
SUBJECT_ID     5414 non-null int64
HADM_ID        5414 non-null float64
CHARTDATE      5414 non-null datetime64[ns]
CATEGORY       5414 non-null object
DESCRIPTION    5414 non-null object
TEXT           5414 non-null object
GENDER         5414 non-null object
DOB            5414 non-null datetime64[ns]
DOD            5414 non-null datetime64[ns]
DOD_HOSP       5396 non-null datetime64[ns]
DOD_SSN        4100 non-null datetime64[ns]
EXPIRE_FLAG    5414 non-null int64
deadage        5396 non-null timedelta64[ns]
dtypes: datetime64[ns](5), float64(1), int64(2), object(4), timedelta64[ns](1)
memory usage: 752.2+ KB

In [26]:
dcn['deadage']=dcn['deadage'].dt.days

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
dcn

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27,2112-12-10,2112-12-10,2112-12-10,1,30147.0
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14,2125-02-16,2125-02-16,2125-02-16,1,30774.0
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07,2194-02-02,2194-02-02,2194-02-02,1,-103905.0
34,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,26482.0
35,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,26482.0
42,17483,189331.0,2147-07-01,Discharge summary,Report,Admission Date: [**2147-6-24**] Discharge...,F,2063-05-04,2147-07-01,2147-07-01,NaT,1,30738.0
85,18961,199586.0,2196-08-23,Discharge summary,Report,Admission Date: [**2196-8-20**] ...,M,2121-04-19,2196-08-23,2196-08-23,2196-08-23,1,27520.0
112,32779,133757.0,2167-10-27,Discharge summary,Report,Admission Date: [**2167-10-20**] ...,F,2098-07-31,2167-10-27,2167-10-27,2167-10-27,1,25289.0
119,13733,196357.0,2143-04-26,Discharge summary,Report,Admission Date: [**2143-4-20**] ...,F,2070-10-21,2143-04-26,2143-04-26,NaT,1,26484.0
126,57276,171108.0,2118-07-11,Discharge summary,Report,Admission Date: [**2118-7-10**] ...,M,2034-01-26,2118-07-11,2118-07-11,2118-07-11,1,30846.0
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15,2101-11-10,2101-11-10,2101-11-10,1,-103844.0
144,82208,188268.0,2200-10-27,Discharge summary,Report,Admission Date: [**2200-10-21**] ...,F,2139-08-15,2200-10-27,2200-10-27,2200-10-27,1,22353.0
153,29530,150159.0,2102-09-30,Discharge summary,Report,Admission Date: [**2102-9-27**] ...,F,2026-01-20,2102-09-30,2102-09-30,2102-09-30,1,28011.0
160,3506,124868.0,2195-08-15,Discharge summary,Report,Admission Date: [**2195-8-12**] [**Year (...,F,2120-05-13,2195-08-15,2195-08-15,2195-08-15,1,27487.0
172,55116,186183.0,2179-02-02,Discharge summary,Report,Admission Date: [**2179-1-29**] ...,F,2093-02-16,2179-02-02,2179-02-02,NaT,1,31396.0
176,24950,124783.0,2108-02-22,Discharge summary,Report,Admission Date: [**2108-2-17**] ...,F,2024-10-03,2108-02-22,2108-02-22,2108-02-22,1,30456.0
179,14346,197634.0,2139-10-31,Discharge summary,Report,Admission Date: [**2139-10-23**] Discharg...,M,2063-01-13,2139-10-31,2139-10-31,2139-10-31,1,28049.0
180,20649,177831.0,2154-12-15,Discharge summary,Report,Admission Date: [**2154-12-14**] Death Da...,M,2076-10-10,2154-12-15,2154-12-15,2154-12-15,1,28554.0
200,24470,174469.0,2130-12-31,Discharge summary,Report,Admission Date: [**2130-12-24**] ...,M,2051-01-26,2130-12-31,2130-12-31,2130-12-31,1,29193.0
203,56225,138677.0,2197-12-01,Discharge summary,Report,Admission Date: [**2197-11-27**] ...,M,2130-08-26,2197-12-01,2197-12-01,2197-12-01,1,24569.0
217,18363,196681.0,2179-04-15,Discharge summary,Report,Admission Date: [**2179-3-31**] ...,F,2105-12-17,2179-04-15,NaT,2179-04-15,1,NaN
222,7234,128174.0,2161-01-10,Discharge summary,Report,Admission Date: [**2160-12-25**] Discharg...,M,2095-10-21,2161-01-10,2161-01-10,2161-01-10,1,23822.0
224,13268,115522.0,2163-11-20,Discharge summary,Report,Admission Date: [**2163-11-11**] ...,F,2080-08-17,2163-11-20,2163-11-20,NaT,1,30409.0
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05,2189-02-15,2189-02-15,2189-02-15,1,-103921.0
252,636,142160.0,2133-09-13,Discharge summary,Report,Admission Date: [**2133-9-3**] D...,M,2051-01-18,2133-09-13,2133-09-13,2133-09-13,1,30188.0
253,15159,187095.0,2103-08-19,Discharge summary,Report,Admission Date: [**2103-8-16**] Discharge...,M,2070-11-24,2103-08-19,2103-08-19,2103-08-19,1,11955.0
260,19535,182834.0,2191-04-22,Discharge summary,Report,Admission Date: [**2191-4-8**] Discharge ...,M,2108-11-17,2191-04-22,2191-04-22,2191-04-22,1,30106.0
288,23637,117843.0,2196-05-16,Discharge summary,Report,Admission Date: [**2196-5-13**] Discharge...,F,2110-02-17,2196-05-16,2196-05-16,2196-05-16,1,31500.0
289,74913,180080.0,2193-08-07,Discharge summary,Report,Admission Date: [**2193-8-5**] D...,F,2118-07-09,2193-08-07,2193-08-07,2193-08-07,1,27423.0
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14,2145-11-18,2145-11-18,2145-11-18,1,-103927.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58965,94828,116543.0,2112-10-16,Discharge summary,Addendum,"Name: [**Known lastname 15075**],[**Known fir...",M,2041-10-20,2112-10-16,2112-10-16,NaT,1,25928.0
58967,6560,134948.0,2182-07-21,Discharge summary,Addendum,"Name: [**Last Name (LF) 15173**], [**Known fi...",F,2106-04-20,2182-07-21,2182-07-21,2182-07-21,1,27851.0
59106,12089,185999.0,2178-06-06,Discharge summary,Addendum,"Name: [**Known lastname 17796**], [**Known fi...",M,2108-09-16,2178-06-06,2178-06-06,2178-06-06,1,25465.0
59108,91,121205.0,2177-05-10,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2095-09-26,2177-05-10,2177-05-10,2177-05-10,1,29811.0
59156,804,138064.0,2154-09-02,Discharge summary,Addendum,"Name: [**Known lastname 635**], [**Known firs...",M,2085-05-01,2154-09-02,2154-09-02,2154-09-02,1,25325.0
59201,15639,190575.0,2111-01-01,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2029-06-26,2111-01-01,2111-01-01,2111-01-01,1,29773.0
59231,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-103912.0
59232,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-103912.0
59233,63552,105459.0,2137-12-30,Discharge summary,Addendum,"Name: [**Known lastname 16305**],[**Known fir...",F,2060-10-12,2137-12-30,2137-12-30,NaT,1,28202.0
59287,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,27311.0
59289,1399,108903.0,2109-03-23,Discharge summary,Addendum,"Name: [**Known lastname 17941**], [**Known fi...",M,2034-04-19,2109-03-23,2109-03-23,2109-03-23,1,27366.0
59336,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,27311.0
59396,23450,122507.0,2167-04-29,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2085-04-01,2167-04-29,2167-04-29,2167-04-29,1,29977.0
59420,72039,113103.0,2114-08-18,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1814-08-10,2114-08-18,2114-08-18,NaT,1,-103923.0
59457,7407,110883.0,2126-02-13,Discharge summary,Addendum,"Name: [**Known lastname 17009**], [**Known fi...",F,2039-10-31,2126-02-13,2126-02-13,2126-02-13,1,31516.0
59470,14451,121734.0,2165-01-10,Discharge summary,Addendum,"Name: [**Known lastname 3317**], [**Known fir...",F,1864-12-19,2165-01-10,2165-01-10,2165-01-10,1,-103909.0
59491,12412,101380.0,2176-05-19,Discharge summary,Addendum,"Name: [**Known lastname 5129**], [**Known fir...",M,2124-09-13,2176-05-19,2176-05-19,2176-05-19,1,18876.0
59529,18403,105208.0,2165-08-14,Discharge summary,Addendum,"Name: [**Known lastname 16701**], [**Known fi...",M,2079-07-25,2165-08-14,2165-08-14,2165-08-14,1,31431.0
59555,834,153730.0,2166-09-12,Discharge summary,Addendum,"Name:[**Known lastname **],[**Known firstname ...",M,2090-06-15,2166-09-12,2166-09-12,2166-09-20,1,27847.0
59566,41074,182558.0,2121-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18113**] SR.,[**Known...",M,2047-02-20,2121-06-14,2121-06-14,NaT,1,27142.0
59568,10154,144501.0,2197-01-04,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",M,2110-12-14,2197-01-04,NaT,2197-01-04,1,NaN
59601,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,29978.0
59602,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,29978.0
59603,21219,177991.0,2142-09-25,Discharge summary,Addendum,"Name: [**Known lastname 15680**], [**Known fi...",M,2059-04-04,2142-09-25,2142-09-25,2142-09-25,1,30489.0
59614,12849,161593.0,2140-04-26,Discharge summary,Addendum,"Name: [**Known lastname 16777**], [**Known fi...",M,2090-07-07,2140-04-26,2140-04-26,2140-04-26,1,18190.0
59620,14542,132211.0,2132-07-29,Discharge summary,Addendum,"Name: [**Known lastname 17303**], [**Known fi...",F,2047-03-22,2132-07-29,2132-07-29,2132-07-29,1,31175.0
59627,21870,111705.0,2119-11-15,Discharge summary,Addendum,"Name: [**Known lastname 2583**], [**Known fir...",F,2070-08-25,2119-11-15,2119-11-15,2119-11-15,1,17978.0
59644,27983,190484.0,2192-11-10,Discharge summary,Addendum,"Name: [**Known lastname 400**],[**Known first...",F,1892-10-19,2192-11-10,2192-11-10,2192-11-10,1,-103909.0
59646,26673,183398.0,2119-07-11,Discharge summary,Addendum,"Name: [**Known lastname 183**], [**Known firs...",F,2043-11-11,2119-07-11,2119-07-11,2119-07-11,1,27635.0
60413,96333,183951.0,2197-06-18,Discharge summary,Addendum,Name: [**Known lastname 18357**]-[**Known las...,F,2143-05-28,2197-06-18,2197-06-18,2197-06-18,1,19745.0

In [28]:
dcn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5414 entries, 6 to 60413
Data columns (total 13 columns):
SUBJECT_ID     5414 non-null int64
HADM_ID        5414 non-null float64
CHARTDATE      5414 non-null datetime64[ns]
CATEGORY       5414 non-null object
DESCRIPTION    5414 non-null object
TEXT           5414 non-null object
GENDER         5414 non-null object
DOB            5414 non-null datetime64[ns]
DOD            5414 non-null datetime64[ns]
DOD_HOSP       5396 non-null datetime64[ns]
DOD_SSN        4100 non-null datetime64[ns]
EXPIRE_FLAG    5414 non-null int64
deadage        5396 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 752.2+ KB

In [29]:
dcn['deadage']=dcn['deadage']/365

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [30]:
dcn

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
6,20646,134727.0,2112-12-10,Discharge summary,Report,Admission Date: [**2112-12-8**] ...,F,2030-05-27,2112-12-10,2112-12-10,2112-12-10,1,82.594521
10,28063,121936.0,2125-02-16,Discharge summary,Report,Admission Date: [**2125-2-9**] D...,M,2040-11-14,2125-02-16,2125-02-16,2125-02-16,1,84.312329
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07,2194-02-02,2194-02-02,2194-02-02,1,-284.671233
34,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,72.553425
35,710,114242.0,2182-02-28,Discharge summary,Report,Admission Date: [**2182-2-18**] Dischar...,F,2109-08-28,2182-02-28,2182-02-28,2182-02-28,1,72.553425
42,17483,189331.0,2147-07-01,Discharge summary,Report,Admission Date: [**2147-6-24**] Discharge...,F,2063-05-04,2147-07-01,2147-07-01,NaT,1,84.213699
85,18961,199586.0,2196-08-23,Discharge summary,Report,Admission Date: [**2196-8-20**] ...,M,2121-04-19,2196-08-23,2196-08-23,2196-08-23,1,75.397260
112,32779,133757.0,2167-10-27,Discharge summary,Report,Admission Date: [**2167-10-20**] ...,F,2098-07-31,2167-10-27,2167-10-27,2167-10-27,1,69.284932
119,13733,196357.0,2143-04-26,Discharge summary,Report,Admission Date: [**2143-4-20**] ...,F,2070-10-21,2143-04-26,2143-04-26,NaT,1,72.558904
126,57276,171108.0,2118-07-11,Discharge summary,Report,Admission Date: [**2118-7-10**] ...,M,2034-01-26,2118-07-11,2118-07-11,2118-07-11,1,84.509589
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15,2101-11-10,2101-11-10,2101-11-10,1,-284.504110
144,82208,188268.0,2200-10-27,Discharge summary,Report,Admission Date: [**2200-10-21**] ...,F,2139-08-15,2200-10-27,2200-10-27,2200-10-27,1,61.241096
153,29530,150159.0,2102-09-30,Discharge summary,Report,Admission Date: [**2102-9-27**] ...,F,2026-01-20,2102-09-30,2102-09-30,2102-09-30,1,76.742466
160,3506,124868.0,2195-08-15,Discharge summary,Report,Admission Date: [**2195-8-12**] [**Year (...,F,2120-05-13,2195-08-15,2195-08-15,2195-08-15,1,75.306849
172,55116,186183.0,2179-02-02,Discharge summary,Report,Admission Date: [**2179-1-29**] ...,F,2093-02-16,2179-02-02,2179-02-02,NaT,1,86.016438
176,24950,124783.0,2108-02-22,Discharge summary,Report,Admission Date: [**2108-2-17**] ...,F,2024-10-03,2108-02-22,2108-02-22,2108-02-22,1,83.441096
179,14346,197634.0,2139-10-31,Discharge summary,Report,Admission Date: [**2139-10-23**] Discharg...,M,2063-01-13,2139-10-31,2139-10-31,2139-10-31,1,76.846575
180,20649,177831.0,2154-12-15,Discharge summary,Report,Admission Date: [**2154-12-14**] Death Da...,M,2076-10-10,2154-12-15,2154-12-15,2154-12-15,1,78.230137
200,24470,174469.0,2130-12-31,Discharge summary,Report,Admission Date: [**2130-12-24**] ...,M,2051-01-26,2130-12-31,2130-12-31,2130-12-31,1,79.980822
203,56225,138677.0,2197-12-01,Discharge summary,Report,Admission Date: [**2197-11-27**] ...,M,2130-08-26,2197-12-01,2197-12-01,2197-12-01,1,67.312329
217,18363,196681.0,2179-04-15,Discharge summary,Report,Admission Date: [**2179-3-31**] ...,F,2105-12-17,2179-04-15,NaT,2179-04-15,1,NaN
222,7234,128174.0,2161-01-10,Discharge summary,Report,Admission Date: [**2160-12-25**] Discharg...,M,2095-10-21,2161-01-10,2161-01-10,2161-01-10,1,65.265753
224,13268,115522.0,2163-11-20,Discharge summary,Report,Admission Date: [**2163-11-11**] ...,F,2080-08-17,2163-11-20,2163-11-20,NaT,1,83.312329
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05,2189-02-15,2189-02-15,2189-02-15,1,-284.715068
252,636,142160.0,2133-09-13,Discharge summary,Report,Admission Date: [**2133-9-3**] D...,M,2051-01-18,2133-09-13,2133-09-13,2133-09-13,1,82.706849
253,15159,187095.0,2103-08-19,Discharge summary,Report,Admission Date: [**2103-8-16**] Discharge...,M,2070-11-24,2103-08-19,2103-08-19,2103-08-19,1,32.753425
260,19535,182834.0,2191-04-22,Discharge summary,Report,Admission Date: [**2191-4-8**] Discharge ...,M,2108-11-17,2191-04-22,2191-04-22,2191-04-22,1,82.482192
288,23637,117843.0,2196-05-16,Discharge summary,Report,Admission Date: [**2196-5-13**] Discharge...,F,2110-02-17,2196-05-16,2196-05-16,2196-05-16,1,86.301370
289,74913,180080.0,2193-08-07,Discharge summary,Report,Admission Date: [**2193-8-5**] D...,F,2118-07-09,2193-08-07,2193-08-07,2193-08-07,1,75.131507
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14,2145-11-18,2145-11-18,2145-11-18,1,-284.731507
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58965,94828,116543.0,2112-10-16,Discharge summary,Addendum,"Name: [**Known lastname 15075**],[**Known fir...",M,2041-10-20,2112-10-16,2112-10-16,NaT,1,71.035616
58967,6560,134948.0,2182-07-21,Discharge summary,Addendum,"Name: [**Last Name (LF) 15173**], [**Known fi...",F,2106-04-20,2182-07-21,2182-07-21,2182-07-21,1,76.304110
59106,12089,185999.0,2178-06-06,Discharge summary,Addendum,"Name: [**Known lastname 17796**], [**Known fi...",M,2108-09-16,2178-06-06,2178-06-06,2178-06-06,1,69.767123
59108,91,121205.0,2177-05-10,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2095-09-26,2177-05-10,2177-05-10,2177-05-10,1,81.673973
59156,804,138064.0,2154-09-02,Discharge summary,Addendum,"Name: [**Known lastname 635**], [**Known firs...",M,2085-05-01,2154-09-02,2154-09-02,2154-09-02,1,69.383562
59201,15639,190575.0,2111-01-01,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",F,2029-06-26,2111-01-01,2111-01-01,2111-01-01,1,81.569863
59231,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-284.690411
59232,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-284.690411
59233,63552,105459.0,2137-12-30,Discharge summary,Addendum,"Name: [**Known lastname 16305**],[**Known fir...",F,2060-10-12,2137-12-30,2137-12-30,NaT,1,77.265753
59287,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,74.824658
59289,1399,108903.0,2109-03-23,Discharge summary,Addendum,"Name: [**Known lastname 17941**], [**Known fi...",M,2034-04-19,2109-03-23,2109-03-23,2109-03-23,1,74.975342
59336,98669,108710.0,2147-04-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2072-07-04,2147-04-14,2147-04-14,2147-04-14,1,74.824658
59396,23450,122507.0,2167-04-29,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2085-04-01,2167-04-29,2167-04-29,2167-04-29,1,82.128767
59420,72039,113103.0,2114-08-18,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1814-08-10,2114-08-18,2114-08-18,NaT,1,-284.720548
59457,7407,110883.0,2126-02-13,Discharge summary,Addendum,"Name: [**Known lastname 17009**], [**Known fi...",F,2039-10-31,2126-02-13,2126-02-13,2126-02-13,1,86.345205
59470,14451,121734.0,2165-01-10,Discharge summary,Addendum,"Name: [**Known lastname 3317**], [**Known fir...",F,1864-12-19,2165-01-10,2165-01-10,2165-01-10,1,-284.682192
59491,12412,101380.0,2176-05-19,Discharge summary,Addendum,"Name: [**Known lastname 5129**], [**Known fir...",M,2124-09-13,2176-05-19,2176-05-19,2176-05-19,1,51.715068
59529,18403,105208.0,2165-08-14,Discharge summary,Addendum,"Name: [**Known lastname 16701**], [**Known fi...",M,2079-07-25,2165-08-14,2165-08-14,2165-08-14,1,86.112329
59555,834,153730.0,2166-09-12,Discharge summary,Addendum,"Name:[**Known lastname **],[**Known firstname ...",M,2090-06-15,2166-09-12,2166-09-12,2166-09-20,1,76.293151
59566,41074,182558.0,2121-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18113**] SR.,[**Known...",M,2047-02-20,2121-06-14,2121-06-14,NaT,1,74.361644
59568,10154,144501.0,2197-01-04,Discharge summary,Addendum,"Name: [**Known lastname **], [**Known firstna...",M,2110-12-14,2197-01-04,NaT,2197-01-04,1,NaN
59601,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,82.131507
59602,12581,107814.0,2106-03-04,Discharge summary,Addendum,"Name: [**Known lastname 5181**], [**Known fir...",M,2024-02-04,2106-03-04,2106-03-04,2106-03-04,1,82.131507
59603,21219,177991.0,2142-09-25,Discharge summary,Addendum,"Name: [**Known lastname 15680**], [**Known fi...",M,2059-04-04,2142-09-25,2142-09-25,2142-09-25,1,83.531507
59614,12849,161593.0,2140-04-26,Discharge summary,Addendum,"Name: [**Known lastname 16777**], [**Known fi...",M,2090-07-07,2140-04-26,2140-04-26,2140-04-26,1,49.835616
59620,14542,132211.0,2132-07-29,Discharge summary,Addendum,"Name: [**Known lastname 17303**], [**Known fi...",F,2047-03-22,2132-07-29,2132-07-29,2132-07-29,1,85.410959
59627,21870,111705.0,2119-11-15,Discharge summary,Addendum,"Name: [**Known lastname 2583**], [**Known fir...",F,2070-08-25,2119-11-15,2119-11-15,2119-11-15,1,49.254795
59644,27983,190484.0,2192-11-10,Discharge summary,Addendum,"Name: [**Known lastname 400**],[**Known first...",F,1892-10-19,2192-11-10,2192-11-10,2192-11-10,1,-284.682192
59646,26673,183398.0,2119-07-11,Discharge summary,Addendum,"Name: [**Known lastname 183**], [**Known firs...",F,2043-11-11,2119-07-11,2119-07-11,2119-07-11,1,75.712329
60413,96333,183951.0,2197-06-18,Discharge summary,Addendum,Name: [**Known lastname 18357**]-[**Known las...,F,2143-05-28,2197-06-18,2197-06-18,2197-06-18,1,54.095890

In [31]:
#notes2[notes2['CHARTDATE']==notes2['DOD']]
dcn[dcn['deadage']<0]

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
29,27051,113012.0,2194-02-02,Discharge summary,Report,Admission Date: [**2194-1-7**] D...,F,1894-01-07,2194-02-02,2194-02-02,2194-02-02,1,-284.671233
128,92326,182163.0,2101-11-10,Discharge summary,Report,Admission Date: [**2101-11-1**] ...,F,1801-08-15,2101-11-10,2101-11-10,2101-11-10,1,-284.504110
235,26883,149002.0,2189-02-15,Discharge summary,Report,Admission Date: [**2189-2-5**] D...,F,1889-02-05,2189-02-15,2189-02-15,2189-02-15,1,-284.715068
291,15646,102898.0,2145-11-18,Discharge summary,Report,Admission Date: [**2145-11-14**] ...,M,1845-11-14,2145-11-18,2145-11-18,2145-11-18,1,-284.731507
293,12762,176023.0,2172-07-13,Discharge summary,Report,Admission Date: [**2172-7-3**] D...,F,1872-07-03,2172-07-13,2172-07-13,2172-07-13,1,-284.715068
294,65513,127865.0,2146-07-26,Discharge summary,Report,Admission Date: [**2146-7-21**] ...,F,1846-07-21,2146-07-26,2146-07-26,2146-07-26,1,-284.728767
317,32001,123601.0,2136-05-26,Discharge summary,Report,Admission Date: [**2136-5-25**] ...,F,1836-01-25,2136-05-26,2136-05-26,2136-05-26,1,-284.408219
322,62860,132663.0,2138-10-03,Discharge summary,Report,Admission Date: [**2138-8-25**] ...,F,1838-08-25,2138-10-03,2138-10-03,2138-10-03,1,-284.635616
356,17720,148828.0,2119-04-25,Discharge summary,Report,Admission Date: [**2119-4-23**] ...,M,1819-04-23,2119-04-25,2119-04-25,2119-04-25,1,-284.736986
396,4264,148786.0,2107-12-24,Discharge summary,Report,Admission Date: [**2107-12-17**] Discharg...,F,1807-07-10,2107-12-24,2107-12-24,2107-12-23,1,-284.284932
403,22667,196846.0,2125-11-20,Discharge summary,Report,Admission Date: [**2125-11-14**] ...,F,1819-11-23,2125-11-20,2125-11-20,2125-11-20,1,-278.745205
527,43215,185227.0,2117-01-19,Discharge summary,Report,Admission Date: [**2117-1-9**] D...,M,1817-01-09,2117-01-19,2117-01-19,2117-01-19,1,-284.715068
535,21139,196515.0,2169-03-02,Discharge summary,Report,Admission Date: [**2169-2-13**] ...,F,1865-05-14,2169-03-02,2169-03-02,2169-03-02,1,-280.939726
626,9253,115671.0,2147-09-29,Discharge summary,Report,Admission Date: [**2147-9-25**] ...,M,1841-10-08,2147-09-29,2147-09-29,2147-09-29,1,-278.764384
656,11635,124554.0,2147-12-03,Discharge summary,Report,Admission Date: [**2147-11-8**] Discharge...,M,1847-11-08,2147-12-03,2147-12-03,2147-12-14,1,-284.673973
697,26456,107553.0,2136-03-15,Discharge summary,Report,Admission Date: [**2136-3-14**] ...,M,1836-03-14,2136-03-15,2136-03-15,NaT,1,-284.739726
876,70622,141292.0,2141-09-28,Discharge summary,Report,Admission Date: [**2141-9-27**] ...,M,1841-09-27,2141-09-28,2141-09-28,2141-09-28,1,-284.739726
931,24582,114179.0,2129-01-12,Discharge summary,Report,Admission Date: [**2129-1-5**] D...,M,1829-01-05,2129-01-12,2129-01-12,2129-01-12,1,-284.723288
962,12798,148215.0,2198-09-23,Discharge summary,Report,Admission Date: [**2198-9-20**] ...,M,1890-03-15,2198-09-23,2198-09-23,2198-09-23,1,-276.210959
997,2712,157537.0,2103-07-18,Discharge summary,Report,Admission Date: [**2103-7-17**] ...,M,1801-02-10,2103-07-18,2103-07-18,2103-07-18,1,-282.309589
1091,17905,183330.0,2153-09-10,Discharge summary,Report,Admission Date: [**2153-8-31**] ...,M,1853-08-31,2153-09-10,2153-09-10,2153-09-10,1,-284.715068
1228,4362,168132.0,2167-12-15,Discharge summary,Report,Unit No: [**Numeric Identifier 6599**]\nAdmis...,M,1867-12-01,2167-12-15,2167-12-15,2167-12-15,1,-284.704110
1418,20143,176761.0,2148-10-29,Discharge summary,Report,Admission Date: [**2148-10-29**] Discharg...,F,1848-10-29,2148-10-29,2148-10-29,NaT,1,-284.742466
1423,30513,143746.0,2152-08-06,Discharge summary,Report,Admission Date: [**2152-8-5**] D...,F,1852-08-05,2152-08-06,2152-08-06,2152-08-06,1,-284.739726
1438,28109,179667.0,2155-05-28,Discharge summary,Report,Admission Date: [**2155-5-25**] ...,M,1854-06-04,2155-05-28,2155-05-28,2155-05-28,1,-283.761644
1511,24933,149689.0,2120-01-24,Discharge summary,Report,Admission Date: [**2120-1-14**] Discharge...,M,1820-01-14,2120-01-24,2120-01-24,2120-01-24,1,-284.715068
1600,89487,191005.0,2197-12-14,Discharge summary,Report,Admission Date: [**2197-12-13**] ...,F,1897-12-13,2197-12-14,2197-12-14,2197-12-14,1,-284.739726
1632,12732,142290.0,2155-01-15,Discharge summary,Report,Admission Date: [**2155-1-3**] Discharge ...,F,1855-01-03,2155-01-15,2155-01-15,2155-01-15,1,-284.709589
1711,62538,107099.0,2166-01-04,Discharge summary,Report,Admission Date: [**2165-12-29**] ...,F,1865-12-29,2166-01-04,2166-01-04,2166-01-04,1,-284.726027
1821,1811,149897.0,2189-11-12,Discharge summary,Report,Admission Date: [**2189-10-27**] Discharg...,M,1887-04-23,2189-11-12,2189-11-12,2189-11-12,1,-282.183562
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54086,26073,175184.0,2144-01-27,Discharge summary,Report,Admission Date: [**2144-1-20**] Dischar...,M,1844-01-20,2144-01-27,2144-01-27,2144-01-27,1,-284.723288
54213,6821,189348.0,2137-05-03,Discharge summary,Report,Admission Date: [**2137-4-11**] ...,F,1835-10-16,2137-05-03,2137-05-03,2137-05-03,1,-283.194521
54295,8125,190833.0,2170-04-02,Discharge summary,Report,Admission Date: [**2170-3-29**] ...,F,1870-03-29,2170-04-02,2170-04-02,2170-04-02,1,-284.731507
54353,9417,190742.0,2105-11-26,Discharge summary,Report,Admission Date: [**2105-11-23**] ...,F,1805-11-23,2105-11-26,2105-11-26,2105-11-26,1,-284.734247
54359,59396,108721.0,2150-02-11,Discharge summary,Report,Admission Date: [**2150-2-9**] D...,F,1850-02-09,2150-02-11,2150-02-11,NaT,1,-284.736986
54409,16200,124381.0,2114-10-01,Discharge summary,Report,Admission Date: [**2114-9-28**] ...,F,1809-05-24,2114-10-01,2114-10-01,2114-10-01,1,-279.383562
54534,8018,103794.0,2129-01-03,Discharge summary,Report,Admission Date: [**2128-12-29**] ...,F,1828-07-11,2129-01-03,2129-01-03,2129-01-03,1,-284.260274
54592,31072,129247.0,2114-04-12,Discharge summary,Report,Admission Date: [**2114-4-10**] ...,F,1814-04-10,2114-04-12,2114-04-12,2114-04-12,1,-284.736986
54624,15867,181182.0,2107-03-26,Discharge summary,Report,Admission Date: [**2107-3-21**] ...,F,1807-03-21,2107-03-26,2107-03-26,2107-03-26,1,-284.728767
54665,41640,140722.0,2133-10-11,Discharge summary,Report,Admission Date: [**2133-10-9**] ...,M,1833-10-09,2133-10-11,2133-10-11,NaT,1,-284.736986
54736,2793,174098.0,2187-04-18,Discharge summary,Report,Admission Date: [**2187-4-13**] Discharge...,F,1887-04-13,2187-04-18,2187-04-18,2187-04-18,1,-284.728767
54816,20338,103685.0,2183-03-05,Discharge summary,Report,Admission Date: [**2183-3-2**] D...,F,1883-03-02,2183-03-05,2183-03-05,2183-03-05,1,-284.734247
54827,28906,102876.0,2165-03-29,Discharge summary,Report,Admission Date: [**2165-3-18**] ...,M,1865-03-18,2165-03-29,2165-03-29,2165-03-29,1,-284.712329
54865,17756,161901.0,2160-04-16,Discharge summary,Report,Admission Date: [**2160-4-13**] ...,F,1860-04-13,2160-04-16,2160-04-16,2160-04-16,1,-284.734247
54957,75023,193996.0,2153-01-18,Discharge summary,Report,Admission Date: [**2153-1-17**] ...,M,1853-01-17,2153-01-18,2153-01-18,NaT,1,-284.739726
55586,3919,132512.0,2196-12-29,Discharge summary,Addendum,"Name: [**Known lastname 2583**], [**Known fir...",F,1896-12-10,2196-12-29,2196-12-29,2196-12-29,1,-284.690411
55838,985,126525.0,2119-05-06,Discharge summary,Report,Admission Date: [**2119-4-30**] ...,F,1819-04-30,2119-05-06,2119-05-06,2119-05-06,1,-284.726027
55943,14685,100508.0,2145-09-07,Discharge summary,Report,Admission Date: [**2145-9-4**] D...,F,1845-09-04,2145-09-07,2145-09-07,2145-09-07,1,-284.734247
55966,89291,186152.0,2185-03-25,Discharge summary,Report,Admission Date: [**2185-3-22**] ...,F,1885-03-22,2185-03-25,2185-03-25,2185-03-25,1,-284.734247
56794,16868,107126.0,2136-02-26,Discharge summary,Addendum,"Name: [**Known lastname 8458**], [**Known fir...",F,1836-01-26,2136-02-26,2136-02-26,2136-02-26,1,-284.657534
57063,7701,164574.0,2125-03-23,Discharge summary,Addendum,"Name: [**Known lastname 229**], [**Known firs...",M,1825-02-25,2125-03-23,2125-03-23,2125-03-23,1,-284.671233
57585,1891,109421.0,2192-11-02,Discharge summary,Addendum,"Name: [**Known lastname 6672**],[**Known firs...",F,1892-10-14,2192-11-02,2192-11-02,2192-11-02,1,-284.690411
57904,27496,144243.0,2165-08-04,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,1865-08-02,2165-08-04,2165-08-04,NaT,1,-284.736986
58573,3222,197362.0,2192-10-04,Discharge summary,Addendum,"Name: [**Known lastname 15590**], [**Known fi...",F,1892-08-01,2192-10-04,2192-10-04,2192-10-04,1,-284.567123
58646,30257,170637.0,2107-09-16,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1807-09-01,2107-09-16,2107-09-16,NaT,1,-284.701370
59231,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-284.690411
59232,19855,164122.0,2100-12-22,Discharge summary,Addendum,"Name: [**Known lastname 16301**], [**Known fi...",M,1800-12-03,2100-12-22,2100-12-22,2100-12-22,1,-284.690411
59420,72039,113103.0,2114-08-18,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1814-08-10,2114-08-18,2114-08-18,NaT,1,-284.720548
59470,14451,121734.0,2165-01-10,Discharge summary,Addendum,"Name: [**Known lastname 3317**], [**Known fir...",F,1864-12-19,2165-01-10,2165-01-10,2165-01-10,1,-284.682192
59644,27983,190484.0,2192-11-10,Discharge summary,Addendum,"Name: [**Known lastname 400**],[**Known first...",F,1892-10-19,2192-11-10,2192-11-10,2192-11-10,1,-284.682192

In [32]:
finaldcn=dcn[dcn['deadage']>0]

In [33]:
dcnsenior=finaldcn[finaldcn['deadage']>=60]

In [34]:
dcnyoung=finaldcn[(finaldcn['deadage']>=18)&(finaldcn['deadage']<40)]

In [35]:
dcnmiddle=finaldcn[(finaldcn['deadage']>=40)&(finaldcn['deadage']<60)]

In [36]:
'''
dcnsenior.to_csv('notesenior.csv')
dcnyoung.to_csv('noteyoung.csv')
dcnmiddle.to_csv('notemiddle.csv')
'''

"\ndcnsenior.to_csv('notesenior.csv')\ndcnyoung.to_csv('noteyoung.csv')\ndcnmiddle.to_csv('notemiddle.csv')\n"

In [37]:
goodnotes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1204847 entries, 0 to 2083179
Data columns (total 12 columns):
SUBJECT_ID     1204847 non-null int64
HADM_ID        1078824 non-null float64
CHARTDATE      1204847 non-null datetime64[ns]
CATEGORY       1204847 non-null object
DESCRIPTION    1204847 non-null object
TEXT           1204847 non-null object
GENDER         1204847 non-null object
DOB            1204847 non-null object
DOD            0 non-null datetime64[ns]
DOD_HOSP       0 non-null datetime64[ns]
DOD_SSN        0 non-null datetime64[ns]
EXPIRE_FLAG    1204847 non-null int64
dtypes: datetime64[ns](4), float64(1), int64(2), object(5)
memory usage: 119.5+ MB

In [38]:
gdcn=goodnotes[goodnotes['CATEGORY']=='Discharge summary']

In [39]:
gdcn['DOB']=pd.to_datetime(gdcn['DOB'],format='%Y-%m-%d %H:%M:%S')
gdcn['deadage']=gdcn['CHARTDATE']-gdcn['DOB']
gdcn

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
0,22532,167853.0,2151-08-04,Discharge summary,Report,Admission Date: [**2151-7-16**] Dischar...,F,2064-08-20,NaT,NaT,NaT,0,31759 days 00:00:00
5,53181,170490.0,2172-03-08,Discharge summary,Report,Admission Date: [**2172-3-5**] D...,F,2109-10-08,NaT,NaT,NaT,0,22797 days 00:00:00
7,42130,114236.0,2150-03-01,Discharge summary,Report,Admission Date: [**2150-2-25**] ...,M,2086-12-19,NaT,NaT,NaT,0,23082 days 00:00:00
8,56174,163469.0,2118-08-12,Discharge summary,Report,Admission Date: [**2118-8-10**] ...,F,2073-12-25,NaT,NaT,NaT,0,16300 days 00:00:00
9,56174,189681.0,2118-12-09,Discharge summary,Report,Admission Date: [**2118-12-7**] ...,F,2073-12-25,NaT,NaT,NaT,0,16419 days 00:00:00
11,1136,139574.0,2192-05-23,Discharge summary,Report,Admission Date: [**2192-4-19**] ...,F,2107-11-14,NaT,NaT,NaT,0,30872 days 00:00:00
22,99091,185274.0,2190-02-24,Discharge summary,Report,Admission Date: [**2190-2-11**] ...,F,2132-12-15,NaT,NaT,NaT,0,20890 days 00:00:00
23,70108,186093.0,2105-04-27,Discharge summary,Report,Admission Date: [**2105-4-16**] ...,F,2044-03-08,NaT,NaT,NaT,0,22329 days 00:00:00
24,19631,185175.0,2198-05-08,Discharge summary,Report,Admission Date: [**2198-4-23**] ...,M,2122-10-14,NaT,NaT,NaT,0,27600 days 00:00:00
33,19183,145164.0,2141-07-13,Discharge summary,Report,Admission Date: [**2141-7-9**] D...,M,2095-12-08,NaT,NaT,NaT,0,16653 days 00:00:00
36,30812,112678.0,2143-11-25,Discharge summary,Report,Admission Date: [**2143-11-22**] ...,M,2075-10-18,NaT,NaT,NaT,0,24874 days 00:00:00
37,96774,129414.0,2174-02-14,Discharge summary,Report,Admission Date: [**2174-2-12**] ...,M,2122-04-28,NaT,NaT,NaT,0,18920 days 00:00:00
38,62745,133623.0,2145-12-01,Discharge summary,Report,Admission Date: [**2145-11-30**] ...,M,2091-04-13,NaT,NaT,NaT,0,19955 days 00:00:00
39,1136,186931.0,2194-05-14,Discharge summary,Report,Admission Date: [**2194-5-8**] D...,F,2107-11-14,NaT,NaT,NaT,0,31593 days 00:00:00
40,1136,136706.0,2194-08-16,Discharge summary,Report,Admission Date: [**2194-8-15**] ...,F,2107-11-14,NaT,NaT,NaT,0,31687 days 00:00:00
41,98046,139402.0,2198-08-04,Discharge summary,Report,Admission Date: [**2198-7-17**] ...,M,2132-06-25,NaT,NaT,NaT,0,24146 days 00:00:00
44,26175,156154.0,2112-05-05,Discharge summary,Report,Admission Date: [**2112-4-22**] ...,F,2035-10-21,NaT,NaT,NaT,0,27955 days 00:00:00
45,82559,197325.0,2157-02-08,Discharge summary,Report,Admission Date: [**2157-2-1**] D...,F,2071-03-01,NaT,NaT,NaT,0,31390 days 00:00:00
47,22180,116189.0,2132-09-09,Discharge summary,Report,Admission Date: [**2132-9-4**] D...,F,2052-03-07,NaT,NaT,NaT,0,29405 days 00:00:00
48,22180,162436.0,2134-03-09,Discharge summary,Report,Admission Date: [**2134-2-16**] ...,F,2052-03-07,NaT,NaT,NaT,0,29951 days 00:00:00
49,22180,186367.0,2134-08-20,Discharge summary,Report,Admission Date: [**2134-8-12**] ...,F,2052-03-07,NaT,NaT,NaT,0,30115 days 00:00:00
50,22180,183067.0,2136-04-09,Discharge summary,Report,Admission Date: [**2136-4-4**] D...,F,2052-03-07,NaT,NaT,NaT,0,30713 days 00:00:00
51,22180,190828.0,2139-12-04,Discharge summary,Report,Admission Date: [**2139-11-24**] ...,F,2052-03-07,NaT,NaT,NaT,0,32047 days 00:00:00
52,22180,133797.0,2139-12-31,Discharge summary,Report,Admission Date: [**2139-12-25**] ...,F,2052-03-07,NaT,NaT,NaT,0,32074 days 00:00:00
57,13289,119078.0,2103-08-09,Discharge summary,Report,Admission Date: [**2103-7-26**] ...,F,2072-05-04,NaT,NaT,NaT,0,11418 days 00:00:00
58,13289,165604.0,2103-11-22,Discharge summary,Report,Admission Date: [**2103-11-12**] ...,F,2072-05-04,NaT,NaT,NaT,0,11523 days 00:00:00
63,21449,139542.0,2146-07-04,Discharge summary,Report,Admission Date: [**2146-7-1**] D...,M,2088-09-20,NaT,NaT,NaT,0,21105 days 00:00:00
64,40273,124821.0,2159-04-10,Discharge summary,Report,Admission Date: [**2159-4-6**] D...,M,2120-01-29,NaT,NaT,NaT,0,14316 days 00:00:00
65,76874,113329.0,2101-10-28,Discharge summary,Report,Admission Date: [**2101-10-25**] ...,F,2064-10-02,NaT,NaT,NaT,0,13539 days 00:00:00
66,4850,175619.0,2178-07-16,Discharge summary,Report,Admission Date: [**2178-7-13**] ...,M,2113-11-13,NaT,NaT,NaT,0,23621 days 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60094,62343,192515.0,2138-07-20,Discharge summary,Addendum,"Name: [**Known lastname 18365**],[**Known fir...",F,2083-01-28,NaT,NaT,NaT,0,20261 days 00:00:00
60095,82943,127716.0,2134-06-06,Discharge summary,Addendum,"Name: [**Known lastname 18367**],[**Known fir...",F,2055-02-20,NaT,NaT,NaT,0,28960 days 00:00:00
60096,62343,192515.0,2138-07-20,Discharge summary,Addendum,"Name: [**Known lastname 18365**],[**Known fir...",F,2083-01-28,NaT,NaT,NaT,0,20261 days 00:00:00
60097,80442,112809.0,2120-08-01,Discharge summary,Addendum,"Name: [**Known lastname 18376**],[**Known fir...",M,2064-07-18,NaT,NaT,NaT,0,20467 days 00:00:00
60099,91181,130711.0,2107-09-13,Discharge summary,Addendum,"Name: [**Known lastname 18385**],[**Known fir...",M,2042-05-02,NaT,NaT,NaT,0,23874 days 00:00:00
60100,57737,172619.0,2183-08-07,Discharge summary,Addendum,"Name: [**Known lastname 18390**],[**Known fir...",F,2157-09-01,NaT,NaT,NaT,0,9471 days 00:00:00
60101,45132,137233.0,2167-09-15,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2144-12-23,NaT,NaT,NaT,0,8301 days 00:00:00
60157,80339,124871.0,2168-07-09,Discharge summary,Addendum,"Name: [**Known lastname 7410**],[**Known firs...",M,2094-12-01,NaT,NaT,NaT,0,26883 days 00:00:00
60158,85753,146536.0,2153-08-16,Discharge summary,Addendum,"Name: [**Known lastname 571**],[**Known first...",F,2092-08-25,NaT,NaT,NaT,0,22270 days 00:00:00
60159,92346,156564.0,2164-08-13,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2098-11-24,NaT,NaT,NaT,0,24003 days 00:00:00
60186,67316,117502.0,2156-02-03,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2079-05-30,NaT,NaT,NaT,0,28007 days 00:00:00
60193,82609,177315.0,2129-08-03,Discharge summary,Addendum,"Name: [**Known lastname 5493**],[**Known firs...",M,2073-02-09,NaT,NaT,NaT,0,20628 days 00:00:00
60194,82609,145595.0,2129-08-14,Discharge summary,Addendum,"Name: [**Known lastname 5493**],[**Known firs...",M,2073-02-09,NaT,NaT,NaT,0,20639 days 00:00:00
60195,70393,111964.0,2172-10-22,Discharge summary,Addendum,"Name: [**Known lastname 18436**],[**Known fir...",M,2124-05-25,NaT,NaT,NaT,0,17682 days 00:00:00
60201,67316,117502.0,2156-02-04,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2079-05-30,NaT,NaT,NaT,0,28008 days 00:00:00
60202,41705,156241.0,2148-12-03,Discharge summary,Addendum,"Name: [**Known lastname 18333**],[**Known fir...",F,2092-03-19,NaT,NaT,NaT,0,20712 days 00:00:00
60289,86531,161845.0,2105-07-30,Discharge summary,Addendum,"Name: [**Known lastname 18444**],[**Known fir...",M,2037-02-08,NaT,NaT,NaT,0,25008 days 00:00:00
60301,2750,120236.0,2193-07-18,Discharge summary,Addendum,"Name: [**Known lastname 18340**], [**Known fi...",F,2119-03-10,NaT,NaT,NaT,0,27159 days 00:00:00
60312,15414,136434.0,2154-05-04,Discharge summary,Addendum,"Name: [**Known lastname 16998**], [**Known fi...",M,2108-04-18,NaT,NaT,NaT,0,16817 days 00:00:00
60313,89952,145241.0,2125-01-09,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,1825-01-04,NaT,NaT,NaT,0,-103926 days +00:25:26.290448
60317,50532,130383.0,2194-08-04,Discharge summary,Addendum,"Name: [**Known lastname 18343**],[**Known fir...",F,2138-12-16,NaT,NaT,NaT,0,20320 days 00:00:00
60318,42694,180323.0,2111-04-11,Discharge summary,Addendum,"Name: [**Known lastname 18345**],[**Known fir...",F,2062-01-02,NaT,NaT,NaT,0,17995 days 00:00:00
60375,89285,142709.0,2101-06-28,Discharge summary,Addendum,"Name: [**Known lastname 18446**],[**Known fir...",M,2043-10-30,NaT,NaT,NaT,0,21060 days 00:00:00
60387,49879,114661.0,2125-08-17,Discharge summary,Addendum,"Name: [**Known lastname 18448**],[**Known fir...",M,2050-03-26,NaT,NaT,NaT,0,27537 days 00:00:00
60388,49879,114661.0,2125-08-17,Discharge summary,Addendum,"Name: [**Known lastname 18448**],[**Known fir...",M,2050-03-26,NaT,NaT,NaT,0,27537 days 00:00:00
60389,77532,157093.0,2102-08-24,Discharge summary,Addendum,"Name: [**Known lastname 18453**],[**Known fir...",F,1802-08-22,NaT,NaT,NaT,0,-103929 days +00:25:26.290448
60400,83222,155984.0,2197-06-30,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2129-09-05,NaT,NaT,NaT,0,24770 days 00:00:00
60401,40866,112538.0,2104-07-15,Discharge summary,Addendum,"Name: [**Known lastname 18353**],[**Known fir...",F,2045-05-04,NaT,NaT,NaT,0,21621 days 00:00:00
60411,93924,135672.0,2104-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18321**],[**Known fir...",M,2031-02-05,NaT,NaT,NaT,0,26792 days 00:00:00
60414,66717,169165.0,2129-08-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2049-11-27,NaT,NaT,NaT,0,29114 days 00:00:00

In [40]:
gdcn['deadage']=gdcn['deadage'].dt.days

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [41]:
gdcn['deadage']=gdcn['deadage']/365
finalgdcn=gdcn[gdcn['deadage']>0]

/Users/xiedong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [42]:
finalgdcn

,SUBJECT_ID,HADM_ID,CHARTDATE,CATEGORY,DESCRIPTION,TEXT,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,deadage
0,22532,167853.0,2151-08-04,Discharge summary,Report,Admission Date: [**2151-7-16**] Dischar...,F,2064-08-20,NaT,NaT,NaT,0,87.010959
5,53181,170490.0,2172-03-08,Discharge summary,Report,Admission Date: [**2172-3-5**] D...,F,2109-10-08,NaT,NaT,NaT,0,62.457534
7,42130,114236.0,2150-03-01,Discharge summary,Report,Admission Date: [**2150-2-25**] ...,M,2086-12-19,NaT,NaT,NaT,0,63.238356
8,56174,163469.0,2118-08-12,Discharge summary,Report,Admission Date: [**2118-8-10**] ...,F,2073-12-25,NaT,NaT,NaT,0,44.657534
9,56174,189681.0,2118-12-09,Discharge summary,Report,Admission Date: [**2118-12-7**] ...,F,2073-12-25,NaT,NaT,NaT,0,44.983562
11,1136,139574.0,2192-05-23,Discharge summary,Report,Admission Date: [**2192-4-19**] ...,F,2107-11-14,NaT,NaT,NaT,0,84.580822
22,99091,185274.0,2190-02-24,Discharge summary,Report,Admission Date: [**2190-2-11**] ...,F,2132-12-15,NaT,NaT,NaT,0,57.232877
23,70108,186093.0,2105-04-27,Discharge summary,Report,Admission Date: [**2105-4-16**] ...,F,2044-03-08,NaT,NaT,NaT,0,61.175342
24,19631,185175.0,2198-05-08,Discharge summary,Report,Admission Date: [**2198-4-23**] ...,M,2122-10-14,NaT,NaT,NaT,0,75.616438
33,19183,145164.0,2141-07-13,Discharge summary,Report,Admission Date: [**2141-7-9**] D...,M,2095-12-08,NaT,NaT,NaT,0,45.624658
36,30812,112678.0,2143-11-25,Discharge summary,Report,Admission Date: [**2143-11-22**] ...,M,2075-10-18,NaT,NaT,NaT,0,68.147945
37,96774,129414.0,2174-02-14,Discharge summary,Report,Admission Date: [**2174-2-12**] ...,M,2122-04-28,NaT,NaT,NaT,0,51.835616
38,62745,133623.0,2145-12-01,Discharge summary,Report,Admission Date: [**2145-11-30**] ...,M,2091-04-13,NaT,NaT,NaT,0,54.671233
39,1136,186931.0,2194-05-14,Discharge summary,Report,Admission Date: [**2194-5-8**] D...,F,2107-11-14,NaT,NaT,NaT,0,86.556164
40,1136,136706.0,2194-08-16,Discharge summary,Report,Admission Date: [**2194-8-15**] ...,F,2107-11-14,NaT,NaT,NaT,0,86.813699
41,98046,139402.0,2198-08-04,Discharge summary,Report,Admission Date: [**2198-7-17**] ...,M,2132-06-25,NaT,NaT,NaT,0,66.153425
44,26175,156154.0,2112-05-05,Discharge summary,Report,Admission Date: [**2112-4-22**] ...,F,2035-10-21,NaT,NaT,NaT,0,76.589041
45,82559,197325.0,2157-02-08,Discharge summary,Report,Admission Date: [**2157-2-1**] D...,F,2071-03-01,NaT,NaT,NaT,0,86.000000
47,22180,116189.0,2132-09-09,Discharge summary,Report,Admission Date: [**2132-9-4**] D...,F,2052-03-07,NaT,NaT,NaT,0,80.561644
48,22180,162436.0,2134-03-09,Discharge summary,Report,Admission Date: [**2134-2-16**] ...,F,2052-03-07,NaT,NaT,NaT,0,82.057534
49,22180,186367.0,2134-08-20,Discharge summary,Report,Admission Date: [**2134-8-12**] ...,F,2052-03-07,NaT,NaT,NaT,0,82.506849
50,22180,183067.0,2136-04-09,Discharge summary,Report,Admission Date: [**2136-4-4**] D...,F,2052-03-07,NaT,NaT,NaT,0,84.145205
51,22180,190828.0,2139-12-04,Discharge summary,Report,Admission Date: [**2139-11-24**] ...,F,2052-03-07,NaT,NaT,NaT,0,87.800000
52,22180,133797.0,2139-12-31,Discharge summary,Report,Admission Date: [**2139-12-25**] ...,F,2052-03-07,NaT,NaT,NaT,0,87.873973
57,13289,119078.0,2103-08-09,Discharge summary,Report,Admission Date: [**2103-7-26**] ...,F,2072-05-04,NaT,NaT,NaT,0,31.282192
58,13289,165604.0,2103-11-22,Discharge summary,Report,Admission Date: [**2103-11-12**] ...,F,2072-05-04,NaT,NaT,NaT,0,31.569863
63,21449,139542.0,2146-07-04,Discharge summary,Report,Admission Date: [**2146-7-1**] D...,M,2088-09-20,NaT,NaT,NaT,0,57.821918
64,40273,124821.0,2159-04-10,Discharge summary,Report,Admission Date: [**2159-4-6**] D...,M,2120-01-29,NaT,NaT,NaT,0,39.221918
65,76874,113329.0,2101-10-28,Discharge summary,Report,Admission Date: [**2101-10-25**] ...,F,2064-10-02,NaT,NaT,NaT,0,37.093151
66,4850,175619.0,2178-07-16,Discharge summary,Report,Admission Date: [**2178-7-13**] ...,M,2113-11-13,NaT,NaT,NaT,0,64.715068
...,...,...,...,...,...,...,...,...,...,...,...,...,...
60077,96971,127524.0,2184-08-24,Discharge summary,Addendum,"Name: [**Known lastname 18410**],[**Known fir...",F,2113-02-18,NaT,NaT,NaT,0,71.561644
60078,62380,158054.0,2174-08-22,Discharge summary,Addendum,"Name: [**Known lastname 18414**],[**Known fir...",F,2098-07-10,NaT,NaT,NaT,0,76.167123
60094,62343,192515.0,2138-07-20,Discharge summary,Addendum,"Name: [**Known lastname 18365**],[**Known fir...",F,2083-01-28,NaT,NaT,NaT,0,55.509589
60095,82943,127716.0,2134-06-06,Discharge summary,Addendum,"Name: [**Known lastname 18367**],[**Known fir...",F,2055-02-20,NaT,NaT,NaT,0,79.342466
60096,62343,192515.0,2138-07-20,Discharge summary,Addendum,"Name: [**Known lastname 18365**],[**Known fir...",F,2083-01-28,NaT,NaT,NaT,0,55.509589
60097,80442,112809.0,2120-08-01,Discharge summary,Addendum,"Name: [**Known lastname 18376**],[**Known fir...",M,2064-07-18,NaT,NaT,NaT,0,56.073973
60099,91181,130711.0,2107-09-13,Discharge summary,Addendum,"Name: [**Known lastname 18385**],[**Known fir...",M,2042-05-02,NaT,NaT,NaT,0,65.408219
60100,57737,172619.0,2183-08-07,Discharge summary,Addendum,"Name: [**Known lastname 18390**],[**Known fir...",F,2157-09-01,NaT,NaT,NaT,0,25.947945
60101,45132,137233.0,2167-09-15,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2144-12-23,NaT,NaT,NaT,0,22.742466
60157,80339,124871.0,2168-07-09,Discharge summary,Addendum,"Name: [**Known lastname 7410**],[**Known firs...",M,2094-12-01,NaT,NaT,NaT,0,73.652055
60158,85753,146536.0,2153-08-16,Discharge summary,Addendum,"Name: [**Known lastname 571**],[**Known first...",F,2092-08-25,NaT,NaT,NaT,0,61.013699
60159,92346,156564.0,2164-08-13,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2098-11-24,NaT,NaT,NaT,0,65.761644
60186,67316,117502.0,2156-02-03,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2079-05-30,NaT,NaT,NaT,0,76.731507
60193,82609,177315.0,2129-08-03,Discharge summary,Addendum,"Name: [**Known lastname 5493**],[**Known firs...",M,2073-02-09,NaT,NaT,NaT,0,56.515068
60194,82609,145595.0,2129-08-14,Discharge summary,Addendum,"Name: [**Known lastname 5493**],[**Known firs...",M,2073-02-09,NaT,NaT,NaT,0,56.545205
60195,70393,111964.0,2172-10-22,Discharge summary,Addendum,"Name: [**Known lastname 18436**],[**Known fir...",M,2124-05-25,NaT,NaT,NaT,0,48.443836
60201,67316,117502.0,2156-02-04,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",F,2079-05-30,NaT,NaT,NaT,0,76.734247
60202,41705,156241.0,2148-12-03,Discharge summary,Addendum,"Name: [**Known lastname 18333**],[**Known fir...",F,2092-03-19,NaT,NaT,NaT,0,56.745205
60289,86531,161845.0,2105-07-30,Discharge summary,Addendum,"Name: [**Known lastname 18444**],[**Known fir...",M,2037-02-08,NaT,NaT,NaT,0,68.515068
60301,2750,120236.0,2193-07-18,Discharge summary,Addendum,"Name: [**Known lastname 18340**], [**Known fi...",F,2119-03-10,NaT,NaT,NaT,0,74.408219
60312,15414,136434.0,2154-05-04,Discharge summary,Addendum,"Name: [**Known lastname 16998**], [**Known fi...",M,2108-04-18,NaT,NaT,NaT,0,46.073973
60317,50532,130383.0,2194-08-04,Discharge summary,Addendum,"Name: [**Known lastname 18343**],[**Known fir...",F,2138-12-16,NaT,NaT,NaT,0,55.671233
60318,42694,180323.0,2111-04-11,Discharge summary,Addendum,"Name: [**Known lastname 18345**],[**Known fir...",F,2062-01-02,NaT,NaT,NaT,0,49.301370
60375,89285,142709.0,2101-06-28,Discharge summary,Addendum,"Name: [**Known lastname 18446**],[**Known fir...",M,2043-10-30,NaT,NaT,NaT,0,57.698630
60387,49879,114661.0,2125-08-17,Discharge summary,Addendum,"Name: [**Known lastname 18448**],[**Known fir...",M,2050-03-26,NaT,NaT,NaT,0,75.443836
60388,49879,114661.0,2125-08-17,Discharge summary,Addendum,"Name: [**Known lastname 18448**],[**Known fir...",M,2050-03-26,NaT,NaT,NaT,0,75.443836
60400,83222,155984.0,2197-06-30,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2129-09-05,NaT,NaT,NaT,0,67.863014
60401,40866,112538.0,2104-07-15,Discharge summary,Addendum,"Name: [**Known lastname 18353**],[**Known fir...",F,2045-05-04,NaT,NaT,NaT,0,59.235616
60411,93924,135672.0,2104-06-14,Discharge summary,Addendum,"Name: [**Known lastname 18321**],[**Known fir...",M,2031-02-05,NaT,NaT,NaT,0,73.402740
60414,66717,169165.0,2129-08-14,Discharge summary,Addendum,"Name: [**Known lastname **],[**Known firstnam...",M,2049-11-27,NaT,NaT,NaT,0,79.764384

In [43]:
gdcnsenior=finalgdcn[finalgdcn['deadage']>=60]
gdcnyoung=finalgdcn[(finalgdcn['deadage']>=18)&(finalgdcn['deadage']<40)]
gdcnmiddle=finalgdcn[(finalgdcn['deadage']>=40)&(finalgdcn['deadage']<60)]

In [44]:
'''
gdcnsenior.to_csv('good_notesenior.csv')
gdcnyoung.to_csv('good_noteyoung.csv')
gdcnmiddle.to_csv('good_notemiddle.csv')
'''

"\ngdcnsenior.to_csv('good_notesenior.csv')\ngdcnyoung.to_csv('good_noteyoung.csv')\ngdcnmiddle.to_csv('good_notemiddle.csv')\n"

In [45]:
dcnsenior.info()
dcnyoung.info()
dcnmiddle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3539 entries, 6 to 59646
Data columns (total 13 columns):
SUBJECT_ID     3539 non-null int64
HADM_ID        3539 non-null float64
CHARTDATE      3539 non-null datetime64[ns]
CATEGORY       3539 non-null object
DESCRIPTION    3539 non-null object
TEXT           3539 non-null object
GENDER         3539 non-null object
DOB            3539 non-null datetime64[ns]
DOD            3539 non-null datetime64[ns]
DOD_HOSP       3539 non-null datetime64[ns]
DOD_SSN        2772 non-null datetime64[ns]
EXPIRE_FLAG    3539 non-null int64
deadage        3539 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 387.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 224 entries, 253 to 58042
Data columns (total 13 columns):
SUBJECT_ID     224 non-null int64
HADM_ID        224 non-null float64
CHARTDATE      224 non-null datetime64[ns]
CATEGORY       224 non-null object
DESCRIPTION    224 non-null object
TEXT           224 non-null object
GENDER         224 non-null object
DOB            224 non-null datetime64[ns]
DOD            224 non-null datetime64[ns]
DOD_HOSP       224 non-null datetime64[ns]
DOD_SSN        142 non-null datetime64[ns]
EXPIRE_FLAG    224 non-null int64
deadage        224 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 24.5+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1050 entries, 330 to 60413
Data columns (total 13 columns):
SUBJECT_ID     1050 non-null int64
HADM_ID        1050 non-null float64
CHARTDATE      1050 non-null datetime64[ns]
CATEGORY       1050 non-null object
DESCRIPTION    1050 non-null object
TEXT           1050 non-null object
GENDER         1050 non-null object
DOB            1050 non-null datetime64[ns]
DOD            1050 non-null datetime64[ns]
DOD_HOSP       1050 non-null datetime64[ns]
DOD_SSN        761 non-null datetime64[ns]
EXPIRE_FLAG    1050 non-null int64
deadage        1050 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 114.8+ KB

In [46]:
gdcnsenior.info()
gdcnyoung.info()
gdcnmiddle.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14956 entries, 0 to 60414
Data columns (total 13 columns):
SUBJECT_ID     14956 non-null int64
HADM_ID        14956 non-null float64
CHARTDATE      14956 non-null datetime64[ns]
CATEGORY       14956 non-null object
DESCRIPTION    14956 non-null object
TEXT           14956 non-null object
GENDER         14956 non-null object
DOB            14956 non-null datetime64[ns]
DOD            0 non-null datetime64[ns]
DOD_HOSP       0 non-null datetime64[ns]
DOD_SSN        0 non-null datetime64[ns]
EXPIRE_FLAG    14956 non-null int64
deadage        14956 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 4249 entries, 57 to 60101
Data columns (total 13 columns):
SUBJECT_ID     4249 non-null int64
HADM_ID        4249 non-null float64
CHARTDATE      4249 non-null datetime64[ns]
CATEGORY       4249 non-null object
DESCRIPTION    4249 non-null object
TEXT           4249 non-null object
GENDER         4249 non-null object
DOB            4249 non-null datetime64[ns]
DOD            0 non-null datetime64[ns]
DOD_HOSP       0 non-null datetime64[ns]
DOD_SSN        0 non-null datetime64[ns]
EXPIRE_FLAG    4249 non-null int64
deadage        4249 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 464.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 10485 entries, 8 to 60401
Data columns (total 13 columns):
SUBJECT_ID     10485 non-null int64
HADM_ID        10485 non-null float64
CHARTDATE      10485 non-null datetime64[ns]
CATEGORY       10485 non-null object
DESCRIPTION    10485 non-null object
TEXT           10485 non-null object
GENDER         10485 non-null object
DOB            10485 non-null datetime64[ns]
DOD            0 non-null datetime64[ns]
DOD_HOSP       0 non-null datetime64[ns]
DOD_SSN        0 non-null datetime64[ns]
EXPIRE_FLAG    10485 non-null int64
deadage        10485 non-null float64
dtypes: datetime64[ns](5), float64(2), int64(2), object(4)
memory usage: 1.1+ MB

In [47]:
gdcnsenior=gdcnsenior.sample(n=3539)
gdcnyoung=gdcnyoung.sample(n=224)
gdcnmiddle=gdcnmiddle.sample(n=1050)

In [49]:
sample_senior=pd.concat([dcnsenior,gdcnsenior])
sample_middle=pd.concat([dcnmiddle,gdcnmiddle])
sample_young=pd.concat([dcnyoung,gdcnyoung])

In [50]:
sample_senior.to_csv('sample_senior.csv')
sample_middle.to_csv('sample_middle.csv')
sample_young.to_csv('sample_young.csv')